node-red/all-flow.flow
[{"id":"5a5c57b2.16c7d8","type":"tab","label":"Monitoring tab","disabled":false,"info":""},{"id":"d589bafc.5c6b68","type":"tab","label":"Logs tab","disabled":false,"info":""},{"id":"878f1863.20faa8","type":"tab","label":"Setting tab","disabled":false,"info":""},{"id":"8ee52fda.f4873","type":"ui_group","z":"d589bafc.5c6b68","name":"Numbers","tab":"122ee689.480fd9","order":1,"disp":false,"width":"5"},{"id":"2856b54e.43bd0a","type":"ui_group","z":"d589bafc.5c6b68","name":"Chart","tab":"122ee689.480fd9","order":2,"disp":false,"width":"18"},{"id":"61812da2.845974","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Traffic monitoring system","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fc63a1d.486596","type":"ui_group","z":"","name":"Counter stations","tab":"95e4f901.0e1b18","order":4,"disp":true,"width":"18","collapse":false},{"id":"921d6f8d.47f0a","type":"mqtt-broker","z":"","name":"Counter Broker","broker":"192.168.1.35","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8a02f230.29cff","type":"ui_group","z":"","name":"Back Gate","tab":"95e4f901.0e1b18","order":5,"disp":true,"width":"6","collapse":false},{"id":"7ed8240.dc39ddc","type":"ui_group","z":"","name":"Cars remain in area","tab":"95e4f901.0e1b18","order":1,"disp":true,"width":"6","collapse":false},{"id":"780905ec.545d0c","type":"ui_group","z":"","name":"Cars out","tab":"95e4f901.0e1b18","order":3,"disp":true,"width":"6","collapse":false},{"id":"6dbff625.48dc38","type":"ui_group","z":"","name":"Cars in","tab":"95e4f901.0e1b18","order":2,"disp":true,"width":"6","collapse":false},{"id":"95e4f901.0e1b18","type":"ui_tab","z":"","name":"Monitoring","icon":"time_to_leave","order":1,"disabled":false,"hidden":false},{"id":"523477cd.8b87d8","type":"sqlitedb","z":"","db":"/tmp/testdb","mode":"RWC"},{"id":"eceb329a.e9da3","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"traffic_logs","tz":"Asia/Bangkok"},{"id":"4d50bbc3.d20014","type":"ui_spacer","name":"spacer","group":"a016ebef.6c04a8","order":1,"width":1,"height":1},{"id":"81752b17.cbaf08","type":"ui_tab","z":"","name":"Stats","icon":"event_note","order":2,"disabled":false,"hidden":false},{"id":"26b09c57.0dd944","type":"ui_group","z":"","name":"Weekly stats","tab":"81752b17.cbaf08","order":1,"disp":true,"width":"18","collapse":false},{"id":"a79b6f61.74f8b","type":"ui_tab","z":"","name":"System","icon":"settings","order":3,"disabled":false,"hidden":false},{"id":"4f9f69ef.53cd18","type":"ui_group","z":"","name":"Reset counter","tab":"a79b6f61.74f8b","order":2,"disp":false,"width":"6","collapse":false},{"id":"b86a3167.02c16","type":"ui_spacer","name":"spacer","group":"6dbff625.48dc38","order":1,"width":"6","height":"2"},{"id":"42f304aa.aafc6c","type":"ui_spacer","name":"spacer","group":"780905ec.545d0c","order":1,"width":"6","height":"2"},{"id":"c5784487.fe1a28","type":"ui_group","z":"","name":"Monthly stats","tab":"81752b17.cbaf08","order":2,"disp":true,"width":"18","collapse":false},{"id":"b0a19fea.9d296","type":"ui_group","z":"","name":"Annual stats","tab":"81752b17.cbaf08","order":3,"disp":true,"width":"18","collapse":false},{"id":"dff5357.11e5ec8","type":"ui_group","z":0,"name":"Tables","tab":"","order":8,"disp":true,"width":"6"},{"id":"10745bab.61e4f4","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"Front Gate Out","topic":"FrontGate/crossedup","qos":"2","datatype":"auto","broker":"921d6f8d.47f0a","x":85,"y":1021.4920654296875,"wires":[["ff66aad.d01ba58"]]},{"id":"77978c80.3d30b4","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"Front Gate In","topic":"FrontGate/crosseddown","qos":"2","datatype":"auto","broker":"921d6f8d.47f0a","x":81.66666793823242,"y":1222.6031818389893,"wires":[["993f00bd.c3cd9"]]},{"id":"6fdfae17.20d8c","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"Back Gate Out","topic":"BackGate/crossedup","qos":"2","datatype":"utf8","broker":"921d6f8d.47f0a","x":85,"y":1081.4920654296875,"wires":[["2c2ec84e.f8b558"]]},{"id":"22cb0e54.e24d22","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"Back Gate In","topic":"BackGate/crosseddown","qos":"2","datatype":"auto","broker":"921d6f8d.47f0a","x":81.66666793823242,"y":1282.6031818389893,"wires":[["4334cd23.7b2a24"]]},{"id":"d44ec732.e03518","type":"change","z":"5a5c57b2.16c7d8","name":"set flow","rules":[{"t":"set","p":"frontin","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":411.6666679382324,"y":1342.6031818389893,"wires":[["56cea341.3f53fc"]]},{"id":"56cea341.3f53fc","type":"change","z":"5a5c57b2.16c7d8","name":"sum car in","rules":[{"t":"set","p":"totalcarsin","pt":"flow","to":"$flowContext('frontin')+$flowContext('backin')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":601.6666679382324,"y":1382.6031818389893,"wires":[["8a1c5356.6c42e","cce83ed1.87bd3"]]},{"id":"84a5280c.c57528","type":"change","z":"5a5c57b2.16c7d8","name":"set flow","rules":[{"t":"set","p":"backin","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":411.6666679382324,"y":1402.6031818389893,"wires":[["56cea341.3f53fc"]]},{"id":"4334cd23.7b2a24","type":"function","z":"5a5c57b2.16c7d8","name":"2 num","func":"msg.payload = Number(msg.payload);\nmsg.topic = 'back';\nreturn msg;","outputs":1,"noerr":0,"x":281.6666679382324,"y":1402.6031818389893,"wires":[["84a5280c.c57528","66fb6147.6c5a5","17a8861b.3a12da"]]},{"id":"993f00bd.c3cd9","type":"function","z":"5a5c57b2.16c7d8","name":"2 num","func":"msg.payload = Number(msg.payload);\nmsg.topic = 'front';\nreturn msg;","outputs":1,"noerr":0,"x":281.6666679382324,"y":1342.6031818389893,"wires":[["d44ec732.e03518","66fb6147.6c5a5","17a8861b.3a12da"]]},{"id":"98f70686.605568","type":"change","z":"5a5c57b2.16c7d8","name":"set flow","rules":[{"t":"set","p":"frontout","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":429,"y":1141.4920749664307,"wires":[["7e9438ff.39e7c8"]]},{"id":"7e9438ff.39e7c8","type":"change","z":"5a5c57b2.16c7d8","name":"sum cars out","rules":[{"t":"set","p":"totalcarsout","pt":"flow","to":"$flowContext('frontout')+$flowContext('backout')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":575,"y":1181.4920654296875,"wires":[["2f11061a.64591a","cce83ed1.87bd3"]]},{"id":"75a88728.21ec58","type":"change","z":"5a5c57b2.16c7d8","name":"set flow","rules":[{"t":"set","p":"backout","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":426,"y":1202.4920749664307,"wires":[["7e9438ff.39e7c8"]]},{"id":"2c2ec84e.f8b558","type":"function","z":"5a5c57b2.16c7d8","name":"2 num","func":"msg.payload = Number(msg.payload);\nmsg.topic = 'back';\nreturn msg;","outputs":1,"noerr":0,"x":259.25000381469727,"y":1079.2420825958252,"wires":[["343df944.9b5c36","75a88728.21ec58","bebc058f.05d6f8"]]},{"id":"2f11061a.64591a","type":"change","z":"5a5c57b2.16c7d8","name":"load flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"totalcarsout","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000.6667213439941,"y":1177.8253812789917,"wires":[["c3bd2b6a.c54f98"]]},{"id":"8a1c5356.6c42e","type":"change","z":"5a5c57b2.16c7d8","name":"load flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"totalcarsin","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1003.9999771118164,"y":1377.1587705612183,"wires":[["79a08163.c35a5"]]},{"id":"cce83ed1.87bd3","type":"change","z":"5a5c57b2.16c7d8","name":"Cal Total cars in area","rules":[{"t":"set","p":"totalcarsinarea","pt":"flow","to":"$flowContext('totalcarsin')-$flowContext('totalcarsout')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":553.6667098999023,"y":1261.2698307037354,"wires":[["805bb6c6.5acd18"]]},{"id":"805bb6c6.5acd18","type":"change","z":"5a5c57b2.16c7d8","name":"load flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"totalcarsinarea","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000.555534362793,"y":1254.2698612213135,"wires":[["ef453b14.3da268","1a8c4764.9d13f9"]]},{"id":"d6d00534.f086a8","type":"ui_gauge","z":"5a5c57b2.16c7d8","name":"Cars remain in area","group":"7ed8240.dc39ddc","order":1,"width":0,"height":0,"gtype":"donut","title":"","label":"","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":986.1110248565674,"y":183.0000057220459,"wires":[]},{"id":"f037874d.880808","type":"ui_template","z":"5a5c57b2.16c7d8","group":"6dbff625.48dc38","name":"Total cars in","order":2,"width":"6","height":"3","format":"<div ng-bind-html=\"msg.payload[0].cars_in\" style=\"text-align:center;font-size:40px;\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":962.0000495910645,"y":112.66670608520508,"wires":[[]]},{"id":"4c85d8d5.780de8","type":"ui_template","z":"5a5c57b2.16c7d8","group":"780905ec.545d0c","name":"Total cars out","order":2,"width":"6","height":"3","format":"<div ng-bind-html=\"msg.payload[0].cars_out\" style=\"text-align:center;font-size:40px;\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":957.1111259460449,"y":64.2222261428833,"wires":[[]]},{"id":"583997c2.991fb8","type":"mosca in","z":"5a5c57b2.16c7d8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"Counter Broker","username":"","password":"","dburl":"","x":117.77777862548828,"y":60.77777099609375,"wires":[["fb635936.06cdf8"]]},{"id":"eaf0ae9b.a628c","type":"mysql","z":"5a5c57b2.16c7d8","mydb":"eceb329a.e9da3","name":"Traffic Logs Db","x":1501.499942779541,"y":1594.714340209961,"wires":[[]]},{"id":"343df944.9b5c36","type":"function","z":"5a5c57b2.16c7d8","name":"latest out Query","func":"msg.topic = \"UPDATE latest_count SET \"+msg.topic+\"_out = \"+msg.payload+\" WHERE date = '\"+flow.get('currentDate')+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":1082.4920654296875,"wires":[["eaf0ae9b.a628c"]]},{"id":"c3bd2b6a.c54f98","type":"function","z":"5a5c57b2.16c7d8","name":"latest cars out Query","func":"msg.topic = \"UPDATE latest_count SET cars_out = \"+msg.payload+\" WHERE date = '\"+flow.get('currentDate')+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1255.888786315918,"y":1178.3809642791748,"wires":[["eaf0ae9b.a628c"]]},{"id":"66fb6147.6c5a5","type":"function","z":"5a5c57b2.16c7d8","name":"latest in Query","func":"msg.topic = \"UPDATE latest_count SET \"+msg.topic+\"_in = \"+msg.payload+\" WHERE date = '\"+flow.get('currentDate')+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":582.7777671813965,"y":1461.4920291900635,"wires":[["eaf0ae9b.a628c"]]},{"id":"79a08163.c35a5","type":"function","z":"5a5c57b2.16c7d8","name":"latest cars out Query","func":"msg.topic = \"UPDATE latest_count SET cars_in = \"+msg.payload+\" WHERE date = '\"+flow.get('currentDate')+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1259.444320678711,"y":1374.8254508972168,"wires":[["eaf0ae9b.a628c"]]},{"id":"ef453b14.3da268","type":"function","z":"5a5c57b2.16c7d8","name":"latest cars remain Query","func":"msg.topic = \"UPDATE latest_count SET max_cars_in_area = CASE WHEN max_cars_in_area > \"+msg.payload+\" THEN max_cars_in_area ELSE \"+msg.payload+\" END ,cars_in_area = \"+msg.payload+\" WHERE date = '\"+flow.get('currentDate')+\"'\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":1261.6667404174805,"y":1273.3808841705322,"wires":[["eaf0ae9b.a628c"]]},{"id":"2071f1c7.bf84ce","type":"function","z":"5a5c57b2.16c7d8","name":"selete latest count Query","func":"msg.topic = \"SELECT * FROM latest_count WHERE 1\"\nreturn msg;","outputs":1,"noerr":0,"x":490.6667175292969,"y":58.00005340576172,"wires":[["1c32d3bb.375bbc"]]},{"id":"1c32d3bb.375bbc","type":"mysql","z":"5a5c57b2.16c7d8","mydb":"eceb329a.e9da3","name":"Traffic Logs Db","x":699.8888549804688,"y":63.77777099609375,"wires":[["4c85d8d5.780de8","f037874d.880808","703c8780.d98be8","c3798330.ba614"]]},{"id":"346a1f29.bbc05","type":"comment","z":"5a5c57b2.16c7d8","name":"Load all value from DB to dashboard","info":"Load all counted cars from db to display on dashboard","x":759.6666870117188,"y":24.66666030883789,"wires":[]},{"id":"32999fc1.61f9b","type":"mysql","z":"5a5c57b2.16c7d8","mydb":"eceb329a.e9da3","name":"Traffic Logs Db","x":542,"y":250,"wires":[[]]},{"id":"fb635936.06cdf8","type":"delay","z":"5a5c57b2.16c7d8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290.5,"y":59,"wires":[["2071f1c7.bf84ce"]]},{"id":"22f44683.676c6a","type":"inject","z":"5a5c57b2.16c7d8","name":"Daily Reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":96.5,"y":255,"wires":[["271c6357.71956c"]]},{"id":"271c6357.71956c","type":"function","z":"5a5c57b2.16c7d8","name":"Reset latest Query","func":"msg.topic = \"UPDATE latest_count SET cars_in = 0, cars_out = 0, cars_in_area = 0, front_in = 0, front_out = 0, back_in = 0, back_out = 0 , date = '\"+(new Date()).toLocaleDateString()+\"' WHERE 1\";\nreturn msg;","outputs":1,"noerr":0,"x":286,"y":255,"wires":[["32999fc1.61f9b"]]},{"id":"703c8780.d98be8","type":"change","z":"5a5c57b2.16c7d8","name":"set flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].cars_in_area","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":801.7776718139648,"y":182.3333339691162,"wires":[["d6d00534.f086a8"]]},{"id":"2a3fca56.5d69e6","type":"mqtt out","z":"5a5c57b2.16c7d8","name":"UI trigger","topic":"/status","qos":"1","retain":"","broker":"921d6f8d.47f0a","x":698.111198425293,"y":1701.7142581939697,"wires":[]},{"id":"c85469e.2595398","type":"function","z":"5a5c57b2.16c7d8","name":"Reset latest Query","func":"// reset flow value\nflow.set('frontin',0);\nflow.set('frontout',0);\nflow.set('backin',0);\nflow.set('backout',0);\nflow.set('totalcarsin',0);\nflow.set('totalcarsout',0);\nflow.set('totalcarsinarea',0);\nmsg.topic = \"UPDATE latest_count SET cars_in = 0, cars_out = 0, cars_in_area = 0, front_in = 0, front_out = 0, back_in = 0, back_out = 0 , date = '\"+(new Date()).toLocaleDateString()+\"' WHERE 1\";\nreturn msg;","outputs":1,"noerr":0,"x":727.6111373901367,"y":1768.7142581939697,"wires":[["eaf0ae9b.a628c"]]},{"id":"4c236f47.12c36","type":"comment","z":"5a5c57b2.16c7d8","name":"Reset all counter value","info":"","x":482.61116790771484,"y":1772.7143802642822,"wires":[]},{"id":"27b4e194.3adb4e","type":"ui_button","z":"5a5c57b2.16c7d8","name":"Reset button","group":"4f9f69ef.53cd18","order":1,"width":0,"height":0,"passthru":false,"label":"RESET COUNTER","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":454.6111068725586,"y":1710.7142581939697,"wires":[["c85469e.2595398","2a3fca56.5d69e6"]]},{"id":"b8300013.1ea42","type":"ui_template","z":"5a5c57b2.16c7d8","group":"fc63a1d.486596","name":"Counter stations","order":1,"width":0,"height":0,"format":"<style>\n    .active{color:green}\n    .inactive{color:red}\n</style>\n<table>\n   <tr>\n    <th width=\"3%\">#</th>\n    <th width=\"3%\">Status</th>\n    <th>Position</th>\n    <th width=\"20%\">Cars in</th>\n    <th width=\"20%\">Cars out</th>\n    \n   </tr>\n   <tr>\n      <td align=\"center\">1</td>\n      <td align=\"center\" id=\"frontRow\" class={{msg.payload[1]}}><i class=\"fa fa-video-camera\" aria-hidden=\"true\"></i></td>\n      <td align=\"center\">Front gate</td>\n      <td align=\"center\">{{msg.payload[0].front_in}}</td>\n      <td align=\"center\">{{msg.payload[0].front_out}}</td>\n   </tr>\n   <tr>\n      <td align=\"center\">2</td>\n      <td align=\"center\" id=\"backRow\" class={{msg.payload[2]}}><i class=\"fa fa-video-camera\" aria-hidden=\"true\"></i></td>\n      <td align=\"center\">Back gate</td>\n      <td align=\"center\">{{msg.payload[0].back_in}}</td>\n      <td align=\"center\">{{msg.payload[0].back_out}}</td>\n   </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":976.6110916137695,"y":250.1111192703247,"wires":[[]]},{"id":"2d442f5f.6913","type":"change","z":"5a5c57b2.16c7d8","name":"set inactive status","rules":[{"t":"set","p":"frontStatus","pt":"flow","to":"inactive","tot":"str"},{"t":"set","p":"backStatus","pt":"flow","to":"inactive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":312.5,"y":788.0357780456543,"wires":[["ce337612.0330f8"]]},{"id":"8589ce7.197153","type":"inject","z":"5a5c57b2.16c7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":102.5,"y":791.0357780456543,"wires":[["2d442f5f.6913"]]},{"id":"c3798330.ba614","type":"change","z":"5a5c57b2.16c7d8","name":"add flow to payload","rules":[{"t":"set","p":"payload[2]","pt":"msg","to":"backStatus","tot":"flow"},{"t":"set","p":"payload[1]","pt":"msg","to":"frontStatus","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":776.2777633666992,"y":251.22222709655762,"wires":[["b8300013.1ea42"]]},{"id":"2966fbf8.94ca94","type":"change","z":"5a5c57b2.16c7d8","name":"","rules":[{"t":"set","p":"frontStatus","pt":"flow","to":"active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":311.5,"y":831.0357780456543,"wires":[["ce337612.0330f8"]]},{"id":"ce337612.0330f8","type":"mqtt out","z":"5a5c57b2.16c7d8","name":"UI trigger","topic":"/status","qos":"1","retain":"","broker":"921d6f8d.47f0a","x":521,"y":808.0357780456543,"wires":[]},{"id":"c9216afd.237218","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"Keep front active","topic":"FrontGate/status","qos":"2","datatype":"auto","broker":"921d6f8d.47f0a","x":89,"y":834.0357780456543,"wires":[["2966fbf8.94ca94"]]},{"id":"852cebfe.eb0b48","type":"change","z":"5a5c57b2.16c7d8","name":"","rules":[{"t":"set","p":"backStatus","pt":"flow","to":"active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":312,"y":872.0357780456543,"wires":[["ce337612.0330f8"]]},{"id":"8217c1ba.ef06a","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"Keep back active","topic":"BackGate/status","qos":"2","datatype":"auto","broker":"921d6f8d.47f0a","x":85,"y":886.0357780456543,"wires":[["852cebfe.eb0b48"]]},{"id":"8bd2e4e3.75fc08","type":"comment","z":"5a5c57b2.16c7d8","name":"--------------------------------------------------- On start routeen job ---------------------------------------------------","info":"","x":335,"y":421.3333435058594,"wires":[]},{"id":"399fdb3.7801e24","type":"inject","z":"5a5c57b2.16c7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":97.88888804117838,"y":470.8888990614149,"wires":[["a120b371.6f88b"]]},{"id":"a120b371.6f88b","type":"function","z":"5a5c57b2.16c7d8","name":"Flows","func":"flow.set('frontin',0);\nflow.set('frontout',0);\nflow.set('backin',0);\nflow.set('backout',0);\nflow.set('totalcarsin',0);\nflow.set('totalcarsout',0);\nflow.set('totalcarsinarea',0);\nflow.set('arrCarsInArea',[]);\nflow.set('index',0);\n//flow.set('currentDate',(new Date()).toLocaleDateString());\nflow.set('currentDate','2019-08-03')","outputs":1,"noerr":0,"x":247.88888804117838,"y":470.8888990614149,"wires":[[]]},{"id":"f1653c39.872c5","type":"ui_chart","z":"5a5c57b2.16c7d8","name":"Chart cars in area","group":"7ed8240.dc39ddc","order":2,"width":0,"height":0,"label":"Today traffic","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1442.039665222168,"y":1221.0000247955322,"wires":[[]]},{"id":"1a8c4764.9d13f9","type":"function","z":"5a5c57b2.16c7d8","name":"Set chart topic","func":"msg.topic = 'cars in area';\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1234.539665222168,"y":1220.0000247955322,"wires":[["f1653c39.872c5"]]},{"id":"bebc058f.05d6f8","type":"function","z":"5a5c57b2.16c7d8","name":"Set chart topic","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":468.53966522216797,"y":975.0000247955322,"wires":[["87346ce5.b80dc"]]},{"id":"87346ce5.b80dc","type":"ui_chart","z":"5a5c57b2.16c7d8","name":"Chart cars out","group":"780905ec.545d0c","order":2,"width":0,"height":0,"label":"Today traffic","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8000","#8080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":667.039665222168,"y":977.0000247955322,"wires":[[]]},{"id":"17a8861b.3a12da","type":"function","z":"5a5c57b2.16c7d8","name":"Set chart topic","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":472.53966522216797,"y":1514.0000247955322,"wires":[["71bc6b92.79bcd4"]]},{"id":"71bc6b92.79bcd4","type":"ui_chart","z":"5a5c57b2.16c7d8","name":"Chart cars in","group":"6dbff625.48dc38","order":2,"width":0,"height":0,"label":"Today traffic","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8000","#8080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660.039665222168,"y":1515.0000247955322,"wires":[[]]},{"id":"c5195847.b13498","type":"ui_template","z":"d589bafc.5c6b68","group":"c5784487.fe1a28","name":"Month","order":0,"width":0,"height":0,"format":"<table width=\"100%\">\n <thead>\n   <tr>\n    <th width=\"3%\" rowspan=\"2\">Date</th>\n    <th rowspan=\"2\">Max cars in area</th>\n    <th width=\"20%\" colspan=\"2\">Front gate</th>\n    <th width=\"20%\" colspan=\"2\">Back gate</th>\n   </tr>\n   <tr>\n    <th>in</th>\n    <th>out</th>\n    <th>in</th>\n    <th>out</th>\n   </tr>\n  </thead>\n  <tbody>\n   <tr ng-repeat=\"count in msg.payload[0]\" ng-click=\"send(msg);\" style=\"width:100%;\">\n     <td ng-bind=\"count.day\" align=\"center\"></td>\n     <td ng-bind=\"count.max_cars_in_area | number\" align=\"center\"></td>\n     <td ng-bind=\"count.front_in | number\" align=\"center\"></td>\n     <td ng-bind=\"count.front_out | number\" align=\"center\"></td>\n     <td ng-bind=\"count.back_in | number\" align=\"center\"></td>\n     <td ng-bind=\"count.back_out | number\" align=\"center\"></td>\n   </tr>\n   <tr ng-repeat=\"sum in msg.payload[1]\" ng-click=\"send(msg);\" style=\"font-weight:bold;\">\n     <td align=\"center\">Total</td>\n     <td ng-bind=\"(sum.mx_cars | number) + ' (Max)'\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_front_in | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_front_out | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_back_in | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_back_out | number\" align=\"center\"></td>\n   </tr>\n  </tbody>\n  </table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1092.2500190734863,"y":328.00000286102295,"wires":[[]]},{"id":"ea91a31c.83e4c","type":"ui_template","z":"d589bafc.5c6b68","group":"b0a19fea.9d296","name":"Year","order":0,"width":0,"height":0,"format":"<table width=\"100%\">\n <thead>\n   <tr>\n    <th width=\"3%\" rowspan=\"2\">Date</th>\n    <th rowspan=\"2\">Max cars in area</th>\n    <th width=\"20%\" colspan=\"2\">Front gate</th>\n    <th width=\"20%\" colspan=\"2\">Back gate</th>\n   </tr>\n   <tr>\n    <th>in</th>\n    <th>out</th>\n    <th>in</th>\n    <th>out</th>\n   </tr>\n  </thead>\n  <tbody>\n   <tr ng-repeat=\"count in msg.payload[0]\" ng-click=\"send(msg);\" style=\"width:100%;\">\n     <td ng-bind=\"count.month\" align=\"center\"></td>\n     <td ng-bind=\"count.mx_cars | number\" align=\"center\"></td>\n     <td ng-bind=\"count.sm_front_in | number\" align=\"center\"></td>\n     <td ng-bind=\"count.sm_front_out | number\" align=\"center\"></td>\n     <td ng-bind=\"count.sm_back_in | number\" align=\"center\"></td>\n     <td ng-bind=\"count.sm_back_out | number\" align=\"center\"></td>\n   </tr>\n   <tr ng-repeat=\"sum in msg.payload[1]\" ng-click=\"send(msg);\" style=\"font-weight:bold;\">\n     <td align=\"center\">Total</td>\n     <td ng-bind=\"(sum.mx_cars | number) +'(Max)'\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_front_in | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_front_out | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_back_in | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_back_out | number\" align=\"center\"></td>\n   </tr>\n  </tbody>\n  </table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1087.5000190734863,"y":509.0000047683716,"wires":[[]]},{"id":"e04a40df.0a9a6","type":"ui_template","z":"d589bafc.5c6b68","group":"26b09c57.0dd944","name":"Week","order":1,"width":0,"height":0,"format":"<style>\n    .active{color:green}\n    .inactive{color:red}\n</style>\n<table>\n<thead>\n   <tr>\n    <th width=\"3%\" rowspan=\"2\">Day</th>\n    <th rowspan=\"2\">Max cars in area</th>\n    <th width=\"20%\" colspan=\"2\">Front gate</th>\n    <th width=\"20%\" colspan=\"2\">Back gate</th>\n   </tr>\n   <tr>\n    <th>in</th>\n    <th>out</th>\n    <th>in</th>\n    <th>out</th>\n   </tr>\n </thead>\n <tbody>\n   <tr ng-repeat=\"count in msg.payload[0]\" ng-click=\"send(msg);\" style=\"width:100%\" flex>\n     <td ng-bind=\"count.day\" align=\"center\"></td>\n     <td ng-bind=\"count.max_cars_in_area | number\" align=\"center\"></td>\n     <td ng-bind=\"count.front_in | number\" align=\"center\"></td>\n     <td ng-bind=\"count.front_out | number\" align=\"center\"></td>\n     <td ng-bind=\"count.back_in | number\" align=\"center\"></td>\n     <td ng-bind=\"count.back_out | number\" align=\"center\"></td>\n   </tr>\n   <tr ng-repeat=\"sum in msg.payload[1]\" ng-click=\"send(msg);\" style=\"font-weight:bold;\">\n     <td align=\"center\">Total</td>\n     <td ng-bind=\"(sum.mx_cars | number) + ' (Max)'\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_front_in | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_front_out | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_back_in | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_back_out | number\" align=\"center\"></td>\n   </tr>\n  </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1071.750015258789,"y":170.000018119812,"wires":[[]]},{"id":"b9da01e.6edf3","type":"inject","z":"d589bafc.5c6b68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":147.5,"y":71,"wires":[["65a87003.7b16e","ac990cb8.53389","ac6a83be.e568a","edf16c67.26c2a","4e96891f.bb6098","e1251d24.bef34","c70d38e6.5018e8"]]},{"id":"675d1075.91928","type":"inject","z":"5a5c57b2.16c7d8","name":"Daily Reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 9-21 * * *","once":false,"onceDelay":0.1,"x":86.66667938232422,"y":627.2500047683716,"wires":[["69d9982d.cde258"]]},{"id":"69d9982d.cde258","type":"function","z":"5a5c57b2.16c7d8","name":"Get latest count","func":"msg.topic = \"SELECT * FROM latest_count\";\nreturn msg;","outputs":1,"noerr":0,"x":275.00000762939453,"y":626.2500019073486,"wires":[["a9cf9b16.652fd8"]]},{"id":"a9cf9b16.652fd8","type":"mysql","z":"5a5c57b2.16c7d8","mydb":"eceb329a.e9da3","name":"Traffic Logs Db","x":488.00000762939453,"y":625.7500019073486,"wires":[["32dc1a3f.4a68a6","e8de5fc8.aef8f","28bb17a3.5ef7c8"]]},{"id":"512fac3c.873e04","type":"function","z":"5a5c57b2.16c7d8","name":"Insert daily count","func":"msg.topic = \"INSERT INTO daily_count (max_cars_in_area,front_in,front_out,back_in,back_out,insert_date) VALUES(\"+msg.payload[0].max_cars_in_area+\",\"+msg.payload[0].front_in+\",\"+msg.payload[0].front_out+\",\"+msg.payload[0].back_in+\",\"+msg.payload[0].back_out+\",'\"+msg.payload[0].date+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":910.000023735894,"y":719.7500003178914,"wires":[["552b21f9.17601"]]},{"id":"32dc1a3f.4a68a6","type":"delay","z":"5a5c57b2.16c7d8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":696.7500180138481,"y":713.249999364217,"wires":[["512fac3c.873e04"]]},{"id":"552b21f9.17601","type":"mysql","z":"5a5c57b2.16c7d8","mydb":"eceb329a.e9da3","name":"Traffic Logs Db","x":1171.500015258789,"y":618.5000019073486,"wires":[["6cf3d0a2.b302e"]]},{"id":"eda100ad.16587","type":"function","z":"5a5c57b2.16c7d8","name":"Delete daily count","func":"msg.topic = \"DELETE FROM daily_count WHERE insert_date = '\"+flow.get('currentDate')+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":913.000023735894,"y":674.7500003178914,"wires":[["552b21f9.17601"]]},{"id":"e8de5fc8.aef8f","type":"delay","z":"5a5c57b2.16c7d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":698.2500180138481,"y":668.249999364217,"wires":[["eda100ad.16587"]]},{"id":"ff66aad.d01ba58","type":"function","z":"5a5c57b2.16c7d8","name":"2 num","func":"msg.payload = Number(msg.payload);\nmsg.topic = 'front';\nreturn msg;","outputs":1,"noerr":0,"x":255.99999237060547,"y":1022.4920902252197,"wires":[["343df944.9b5c36","98f70686.605568","bebc058f.05d6f8"]]},{"id":"9e97bd99.30c51","type":"function","z":"5a5c57b2.16c7d8","name":"reset past latest count","func":"// reset flow value\nflow.set('frontin',0);\nflow.set('frontout',0);\nflow.set('backin',0);\nflow.set('backout',0);\nflow.set('totalcarsin',0);\nflow.set('totalcarsout',0);\nflow.set('totalcarsinarea',0);\nmsg.topic = \"UPDATE latest_count SET cars_in = 0, cars_out = 0, max_cars_in_area = 0, cars_in_area = 0, front_in = 0, front_out = 0, back_in = 0, back_out = 0 , date = '\"+flow.get('currentDate')+\"' WHERE 1\";\nreturn msg;","outputs":1,"noerr":0,"x":919.2500114440918,"y":627.750002861023,"wires":[["552b21f9.17601"]]},{"id":"2056d7fc.85ee28","type":"comment","z":"5a5c57b2.16c7d8","name":"Reset and initial all flow value","info":"","x":443.125,"y":470,"wires":[]},{"id":"76bb8cb0.883a04","type":"comment","z":"5a5c57b2.16c7d8","name":"Inject every 9.00 น. (เวลาเริ่มงาน)","info":"","x":135,"y":588.7500038146973,"wires":[]},{"id":"28bb17a3.5ef7c8","type":"delay","z":"5a5c57b2.16c7d8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":695.0000076293945,"y":627.5000019073486,"wires":[["9e97bd99.30c51"]]},{"id":"6cf3d0a2.b302e","type":"mqtt out","z":"5a5c57b2.16c7d8","name":"UI trigger","topic":"/status","qos":"1","retain":"","broker":"921d6f8d.47f0a","x":1362.5000228881836,"y":618.750002861023,"wires":[]},{"id":"8ec89bc7.d2d3b8","type":"function","z":"5a5c57b2.16c7d8","name":"","func":"\n//for testing\n\nvar idx = flow.get('index')\nidx += 1\nflow.set('index',idx)\nvar tomorrow = new Date(); // Or Date.today()\ntomorrow.setDate(tomorrow.getDate() + idx);\nflow.set('currentDate',tomorrow.toLocaleDateString());\n\nmsg.payload = tomorrow.toLocaleDateString()\nreturn msg;\n","outputs":1,"noerr":0,"x":1074.3750019073486,"y":472.49999809265137,"wires":[["3083b8e1.120c48"]]},{"id":"edc1ea0b.a074e8","type":"inject","z":"5a5c57b2.16c7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":913.7499980926514,"y":471.2499990463257,"wires":[["8ec89bc7.d2d3b8"]]},{"id":"5f1a9d8e.9f9534","type":"comment","z":"5a5c57b2.16c7d8","name":"For testing only","info":"","x":929.1666666666665,"y":413.33333333333326,"wires":[]},{"id":"3083b8e1.120c48","type":"debug","z":"5a5c57b2.16c7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1302.4999694824219,"y":394.99998664855957,"wires":[]},{"id":"65a87003.7b16e","type":"function","z":"d589bafc.5c6b68","name":"Query current week","func":"msg.topic = \"SELECT *,DAYNAME(insert_date) as day FROM daily_count WHERE WEEK(insert_date,1) = WEEK(CURDATE(),1)\";\nreturn msg;","outputs":1,"noerr":0,"x":393.12500381469727,"y":180.0000057220459,"wires":[["3555cde3.58c752"]]},{"id":"406e494f.993fe8","type":"mysql","z":"d589bafc.5c6b68","mydb":"eceb329a.e9da3","name":"","x":756.8750076293945,"y":176.25000286102295,"wires":[["af18a829.8afe48"]]},{"id":"ac990cb8.53389","type":"function","z":"d589bafc.5c6b68","name":"Query summary","func":"msg.topic = \"SELECT MAX(max_cars_in_area) as mx_cars, SUM(front_in) as sm_front_in, SUM(front_out) as sm_front_out, SUM(back_in) as sm_back_in, SUM(back_out) as sm_back_out FROM daily_count WHERE WEEK(insert_date,1) = WEEK(CURDATE(),1)\";\nreturn msg;","outputs":1,"noerr":0,"x":383.12500381469727,"y":233.75000762939453,"wires":[["a3206a5e.9d6cd8"]]},{"id":"a94924ac.e95728","type":"mysql","z":"d589bafc.5c6b68","mydb":"eceb329a.e9da3","name":"","x":755.0000076293945,"y":230.00000381469727,"wires":[["af18a829.8afe48"]]},{"id":"af18a829.8afe48","type":"join","z":"d589bafc.5c6b68","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930.6250114440918,"y":175.00000286102295,"wires":[["e04a40df.0a9a6"]]},{"id":"ac6a83be.e568a","type":"function","z":"d589bafc.5c6b68","name":"Query current week","func":"msg.topic = \"SELECT *,DAY(insert_date) as day FROM daily_count WHERE MONTH(insert_date) = MONTH(CURDATE()) ORDER BY insert_date\";\nreturn msg;","outputs":1,"noerr":0,"x":390.00000381469727,"y":327.50000762939453,"wires":[["e2c73e18.bff21"]]},{"id":"c87358e.f6b22a8","type":"mysql","z":"d589bafc.5c6b68","mydb":"eceb329a.e9da3","name":"","x":758.7500076293945,"y":322.5000047683716,"wires":[["ae70b06e.2b2ff"]]},{"id":"a23e8af1.f6a908","type":"ui_template","z":"d589bafc.5c6b68","group":"26b09c57.0dd944","name":"Custom css","order":1,"width":0,"height":0,"format":"<style>\n    \ntable {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */\n    \n.animate-enter, \n.animate-leave\n{ \n    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    position: relative;\n    display: block;\n} \n\n.animate-enter.animate-enter-active, \n.animate-leave {\n    opacity: 1;\n    top: 0;\n    height: 30px;\n}\n\n.animate-leave.animate-leave-active,\n.animate-enter {\n    opacity: 0;\n    top: -50px;\n    height: 0px;\n}\n    \n.container\n{\n    max-height: 450px;\n    overflow-y: scroll;\n    overflow-x: hidden;\n}\n</style>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":784.3750076293945,"y":71.25000858306885,"wires":[[]]},{"id":"edf16c67.26c2a","type":"function","z":"d589bafc.5c6b68","name":"Query summary","func":"msg.topic = \"SELECT MAX(max_cars_in_area) as mx_cars, SUM(front_in) as sm_front_in, SUM(front_out) as sm_front_out, SUM(back_in) as sm_back_in, SUM(back_out) as sm_back_out FROM daily_count WHERE MONTH(insert_date) = MONTH(CURDATE())\";\nreturn msg;","outputs":1,"noerr":0,"x":384.99999618530273,"y":378.75000381469727,"wires":[["1cf394d1.3bc46b"]]},{"id":"3187dc84.283e74","type":"mysql","z":"d589bafc.5c6b68","mydb":"eceb329a.e9da3","name":"","x":758.75,"y":377.5000009536743,"wires":[["ae70b06e.2b2ff"]]},{"id":"ae70b06e.2b2ff","type":"join","z":"d589bafc.5c6b68","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":938.7500114440918,"y":322.50000381469727,"wires":[["c5195847.b13498"]]},{"id":"4e96891f.bb6098","type":"function","z":"d589bafc.5c6b68","name":"Query current year","func":"msg.topic = \"SELECT MAX(max_cars_in_area) as mx_cars, SUM(front_in) as sm_front_in, SUM(front_out) as sm_front_out, SUM(back_in) as sm_back_in, SUM(back_out) as sm_back_out, MONTHNAME(insert_date) as month FROM daily_count GROUP BY MONTH(insert_date)\";\nreturn msg;","outputs":1,"noerr":0,"x":371.24999618530273,"y":508.75000381469727,"wires":[["b9e2928f.f2ac2"]]},{"id":"4be08e0a.9a9be","type":"mysql","z":"d589bafc.5c6b68","mydb":"eceb329a.e9da3","name":"","x":752.5,"y":503.7500009536743,"wires":[["123fbba3.16bc64"]]},{"id":"e1251d24.bef34","type":"function","z":"d589bafc.5c6b68","name":"Query summary","func":"msg.topic = \"SELECT MAX(max_cars_in_area) as mx_cars, SUM(front_in) as sm_front_in, SUM(front_out) as sm_front_out, SUM(back_in) as sm_back_in, SUM(back_out) as sm_back_out FROM daily_count GROUP BY YEAR(insert_date)\";\nreturn msg;","outputs":1,"noerr":0,"x":371.87499618530273,"y":561.2500038146973,"wires":[["8864f749.314788"]]},{"id":"f1b38960.ef5428","type":"mysql","z":"d589bafc.5c6b68","mydb":"eceb329a.e9da3","name":"","x":751.25,"y":557.5000009536743,"wires":[["123fbba3.16bc64"]]},{"id":"123fbba3.16bc64","type":"join","z":"d589bafc.5c6b68","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":933.7500114440918,"y":503.75000762939453,"wires":[["ea91a31c.83e4c"]]},{"id":"c70d38e6.5018e8","type":"function","z":"d589bafc.5c6b68","name":"SET Locale","func":"msg.topic = \"SET lc_time_names = 'th_TH'\";\nreturn msg;","outputs":1,"noerr":0,"x":369.37500381469727,"y":70.00001239776611,"wires":[["a01ea155.aea35"]]},{"id":"a01ea155.aea35","type":"mysql","z":"d589bafc.5c6b68","mydb":"eceb329a.e9da3","name":"","x":588.75,"y":70,"wires":[[]]},{"id":"3555cde3.58c752","type":"delay","z":"d589bafc.5c6b68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":581.8750076293945,"y":177.50000190734863,"wires":[["406e494f.993fe8"]]},{"id":"a3206a5e.9d6cd8","type":"delay","z":"d589bafc.5c6b68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":576.2500076293945,"y":232.50000381469727,"wires":[["a94924ac.e95728"]]},{"id":"e2c73e18.bff21","type":"delay","z":"d589bafc.5c6b68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":581.2500076293945,"y":323.7500047683716,"wires":[["c87358e.f6b22a8"]]},{"id":"1cf394d1.3bc46b","type":"delay","z":"d589bafc.5c6b68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":571.2500076293945,"y":377.5000057220459,"wires":[["3187dc84.283e74"]]},{"id":"b9e2928f.f2ac2","type":"delay","z":"d589bafc.5c6b68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":571.2500076293945,"y":508.75000762939453,"wires":[["4be08e0a.9a9be"]]},{"id":"8864f749.314788","type":"delay","z":"d589bafc.5c6b68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":567.5000076293945,"y":561.2500076293945,"wires":[["f1b38960.ef5428"]]},{"id":"ecaec709.40da88","type":"comment","z":"d589bafc.5c6b68","name":"Wait after SET Locale done","info":"","x":636.875,"y":136.25,"wires":[]}]