node-red/all-flow.flow
[{"id":"5a5c57b2.16c7d8","type":"tab","label":"Monitoring tab","disabled":false,"info":""},{"id":"d589bafc.5c6b68","type":"tab","label":"Logs tab","disabled":false,"info":""},{"id":"878f1863.20faa8","type":"tab","label":"System tab","disabled":false,"info":""},{"id":"8ee52fda.f4873","type":"ui_group","z":"d589bafc.5c6b68","name":"Numbers","tab":"122ee689.480fd9","order":1,"disp":false,"width":"5"},{"id":"2856b54e.43bd0a","type":"ui_group","z":"d589bafc.5c6b68","name":"Chart","tab":"122ee689.480fd9","order":2,"disp":false,"width":"18"},{"id":"61812da2.845974","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Gill Sans,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Gill Sans,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Traffic monitoring system","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fc63a1d.486596","type":"ui_group","z":"","name":"Counter stations","tab":"95e4f901.0e1b18","order":4,"disp":true,"width":"18","collapse":false},{"id":"921d6f8d.47f0a","type":"mqtt-broker","z":"","name":"Counter Broker","broker":"192.168.1.35","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8a02f230.29cff","type":"ui_group","z":"","name":"Back Gate","tab":"95e4f901.0e1b18","order":5,"disp":true,"width":"6","collapse":false},{"id":"7ed8240.dc39ddc","type":"ui_group","z":"","name":"Cars remain in area","tab":"95e4f901.0e1b18","order":1,"disp":true,"width":"6","collapse":false},{"id":"780905ec.545d0c","type":"ui_group","z":"","name":"Cars out","tab":"95e4f901.0e1b18","order":3,"disp":true,"width":"6","collapse":false},{"id":"6dbff625.48dc38","type":"ui_group","z":"","name":"Cars in","tab":"95e4f901.0e1b18","order":2,"disp":true,"width":"6","collapse":false},{"id":"95e4f901.0e1b18","type":"ui_tab","z":"","name":"Monitoring","icon":"time_to_leave","order":1,"disabled":false,"hidden":false},{"id":"523477cd.8b87d8","type":"sqlitedb","z":"","db":"D:/Python/ss-traffic-counter/testscripts/traffic_logs.db","mode":"RW"},{"id":"eceb329a.e9da3","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"traffic_logs","tz":"Asia/Bangkok"},{"id":"4d50bbc3.d20014","type":"ui_spacer","name":"spacer","group":"a016ebef.6c04a8","order":1,"width":1,"height":1},{"id":"81752b17.cbaf08","type":"ui_tab","z":"","name":"Traffic stats","icon":"event_note","order":2,"disabled":false,"hidden":false},{"id":"26b09c57.0dd944","type":"ui_group","z":"","name":"Weekly stats","tab":"81752b17.cbaf08","order":1,"disp":true,"width":"18","collapse":false},{"id":"a79b6f61.74f8b","type":"ui_tab","z":"","name":"System","icon":"settings","order":4,"disabled":false,"hidden":false},{"id":"4f9f69ef.53cd18","type":"ui_group","z":"","name":"Reset counter","tab":"a79b6f61.74f8b","order":1,"disp":true,"width":"6","collapse":false},{"id":"c5784487.fe1a28","type":"ui_group","z":"","name":"Monthly stats","tab":"81752b17.cbaf08","order":2,"disp":true,"width":"18","collapse":false},{"id":"b0a19fea.9d296","type":"ui_group","z":"","name":"Annual stats","tab":"81752b17.cbaf08","order":3,"disp":true,"width":"18","collapse":false},{"id":"dff5357.11e5ec8","type":"ui_group","z":0,"name":"Tables","tab":"","order":8,"disp":true,"width":"6"},{"id":"f2c44765.589f58","type":"ui_group","z":"878f1863.20faa8","name":"Kitchen","tab":"","order":1,"disp":true,"width":"6"},{"id":"8e60105e.0e081","type":"ui_group","z":"","name":"Front Gate snap shot","tab":"d8bb449.b53c5b8","order":3,"disp":true,"width":"18","collapse":false},{"id":"5726309e.cf31d","type":"ui_group","z":"","name":"Back gate snap shot","tab":"d8bb449.b53c5b8","order":6,"disp":true,"width":"18","collapse":false},{"id":"84562a1.7b760d8","type":"ui_group","z":"","name":"Start Camara","tab":"a79b6f61.74f8b","order":2,"disp":true,"width":"6","collapse":false},{"id":"d8bb449.b53c5b8","type":"ui_tab","z":"","name":"Snap shot","icon":"photo_library","order":3,"disabled":false,"hidden":false},{"id":"10745bab.61e4f4","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"Front Gate Out","topic":"FrontGate/crossedup","qos":"2","datatype":"auto","broker":"921d6f8d.47f0a","x":85,"y":1021.4920654296875,"wires":[["ff66aad.d01ba58"]]},{"id":"77978c80.3d30b4","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"Front Gate In","topic":"FrontGate/crosseddown","qos":"2","datatype":"auto","broker":"921d6f8d.47f0a","x":81.66666793823242,"y":1222.6031818389893,"wires":[["993f00bd.c3cd9"]]},{"id":"6fdfae17.20d8c","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"Back Gate Out","topic":"BackGate/crossedup","qos":"2","datatype":"utf8","broker":"921d6f8d.47f0a","x":85,"y":1081.4920654296875,"wires":[["2c2ec84e.f8b558"]]},{"id":"22cb0e54.e24d22","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"Back Gate In","topic":"BackGate/crosseddown","qos":"2","datatype":"auto","broker":"921d6f8d.47f0a","x":81.66666793823242,"y":1282.6031818389893,"wires":[["4334cd23.7b2a24"]]},{"id":"d44ec732.e03518","type":"change","z":"5a5c57b2.16c7d8","name":"set flow","rules":[{"t":"set","p":"frontin","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":411.6666679382324,"y":1342.6031818389893,"wires":[["56cea341.3f53fc"]]},{"id":"56cea341.3f53fc","type":"change","z":"5a5c57b2.16c7d8","name":"sum car in","rules":[{"t":"set","p":"totalcarsin","pt":"flow","to":"$flowContext('frontin')+$flowContext('backin')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":601.6666679382324,"y":1382.6031818389893,"wires":[["8a1c5356.6c42e","cce83ed1.87bd3"]]},{"id":"84a5280c.c57528","type":"change","z":"5a5c57b2.16c7d8","name":"set flow","rules":[{"t":"set","p":"backin","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":411.6666679382324,"y":1402.6031818389893,"wires":[["56cea341.3f53fc"]]},{"id":"4334cd23.7b2a24","type":"function","z":"5a5c57b2.16c7d8","name":"2 num","func":"msg.payload = Number(msg.payload);\nmsg.topic = 'back';\nreturn msg;","outputs":1,"noerr":0,"x":281.6666679382324,"y":1402.6031818389893,"wires":[["84a5280c.c57528","66fb6147.6c5a5","17a8861b.3a12da"]]},{"id":"993f00bd.c3cd9","type":"function","z":"5a5c57b2.16c7d8","name":"2 num","func":"msg.payload = Number(msg.payload);\nmsg.topic = 'front';\nreturn msg;","outputs":1,"noerr":0,"x":281.6666679382324,"y":1342.6031818389893,"wires":[["d44ec732.e03518","66fb6147.6c5a5","17a8861b.3a12da"]]},{"id":"98f70686.605568","type":"change","z":"5a5c57b2.16c7d8","name":"set flow","rules":[{"t":"set","p":"frontout","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":429,"y":1141.4920749664307,"wires":[["7e9438ff.39e7c8"]]},{"id":"7e9438ff.39e7c8","type":"change","z":"5a5c57b2.16c7d8","name":"sum cars out","rules":[{"t":"set","p":"totalcarsout","pt":"flow","to":"$flowContext('frontout')+$flowContext('backout')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":575,"y":1181.4920654296875,"wires":[["2f11061a.64591a","cce83ed1.87bd3"]]},{"id":"75a88728.21ec58","type":"change","z":"5a5c57b2.16c7d8","name":"set flow","rules":[{"t":"set","p":"backout","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":426,"y":1202.4920749664307,"wires":[["7e9438ff.39e7c8"]]},{"id":"2c2ec84e.f8b558","type":"function","z":"5a5c57b2.16c7d8","name":"2 num","func":"msg.payload = Number(msg.payload);\nmsg.topic = 'back';\nreturn msg;","outputs":1,"noerr":0,"x":259.25000381469727,"y":1079.2420825958252,"wires":[["343df944.9b5c36","75a88728.21ec58","bebc058f.05d6f8"]]},{"id":"2f11061a.64591a","type":"change","z":"5a5c57b2.16c7d8","name":"load flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"totalcarsout","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000.6667213439941,"y":1177.8253812789917,"wires":[["c3bd2b6a.c54f98"]]},{"id":"8a1c5356.6c42e","type":"change","z":"5a5c57b2.16c7d8","name":"load flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"totalcarsin","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1003.9999771118164,"y":1377.1587705612183,"wires":[["79a08163.c35a5"]]},{"id":"cce83ed1.87bd3","type":"change","z":"5a5c57b2.16c7d8","name":"Cal Total cars in area","rules":[{"t":"set","p":"totalcarsinarea","pt":"flow","to":"$flowContext('totalcarsin')-$flowContext('totalcarsout')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":553.6667098999023,"y":1261.2698307037354,"wires":[["805bb6c6.5acd18"]]},{"id":"805bb6c6.5acd18","type":"change","z":"5a5c57b2.16c7d8","name":"load flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"totalcarsinarea","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000.555534362793,"y":1254.2698612213135,"wires":[["ef453b14.3da268","1a8c4764.9d13f9"]]},{"id":"d6d00534.f086a8","type":"ui_gauge","z":"5a5c57b2.16c7d8","name":"Cars remain in area","group":"7ed8240.dc39ddc","order":1,"width":0,"height":0,"gtype":"donut","title":"","label":"","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":986.1110248565674,"y":183.0000057220459,"wires":[]},{"id":"f037874d.880808","type":"ui_template","z":"5a5c57b2.16c7d8","group":"6dbff625.48dc38","name":"Total cars in","order":1,"width":"6","height":"5","format":"<div ng-bind-html=\"msg.payload[0].cars_in\" style=\"text-align:center;font-size:40px;margin-top:100px;\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":962.0000495910645,"y":112.66670608520508,"wires":[[]]},{"id":"583997c2.991fb8","type":"mosca in","z":"5a5c57b2.16c7d8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"Counter Broker","username":"","password":"","dburl":"","x":117.77777862548828,"y":60.77777099609375,"wires":[["fb635936.06cdf8"]]},{"id":"343df944.9b5c36","type":"function","z":"5a5c57b2.16c7d8","name":"latest out Query","func":"msg.topic = \"UPDATE latest_count SET \"+msg.topic+\"_out = \"+msg.payload+\" WHERE date = '\"+flow.get('currentDate')+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":1082.4920654296875,"wires":[["a6e6b098.7aee2"]]},{"id":"c3bd2b6a.c54f98","type":"function","z":"5a5c57b2.16c7d8","name":"latest cars out Query","func":"msg.topic = \"UPDATE latest_count SET cars_out = \"+msg.payload+\" WHERE date = '\"+flow.get('currentDate')+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1255.888786315918,"y":1178.3809642791748,"wires":[["a6e6b098.7aee2"]]},{"id":"66fb6147.6c5a5","type":"function","z":"5a5c57b2.16c7d8","name":"latest in Query","func":"msg.topic = \"UPDATE latest_count SET \"+msg.topic+\"_in = \"+msg.payload+\" WHERE date = '\"+flow.get('currentDate')+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":582.7777671813965,"y":1461.4920291900635,"wires":[["a6e6b098.7aee2"]]},{"id":"79a08163.c35a5","type":"function","z":"5a5c57b2.16c7d8","name":"latest cars out Query","func":"msg.topic = \"UPDATE latest_count SET cars_in = \"+msg.payload+\" WHERE date = '\"+flow.get('currentDate')+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1259.444320678711,"y":1374.8254508972168,"wires":[["a6e6b098.7aee2"]]},{"id":"ef453b14.3da268","type":"function","z":"5a5c57b2.16c7d8","name":"latest cars remain Query","func":"msg.topic = \"UPDATE latest_count SET max_cars_in_area = CASE WHEN max_cars_in_area > \"+msg.payload+\" THEN max_cars_in_area ELSE \"+msg.payload+\" END ,cars_in_area = \"+msg.payload+\" WHERE date = '\"+flow.get('currentDate')+\"'\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":1261.6667404174805,"y":1273.3808841705322,"wires":[["a6e6b098.7aee2"]]},{"id":"2071f1c7.bf84ce","type":"function","z":"5a5c57b2.16c7d8","name":"selete latest count Query","func":"msg.topic = \"SELECT * FROM latest_count WHERE 1\"\nreturn msg;","outputs":1,"noerr":0,"x":490.6667175292969,"y":58.00005340576172,"wires":[["b0266f51.6300f"]]},{"id":"346a1f29.bbc05","type":"comment","z":"5a5c57b2.16c7d8","name":"Load all value from DB to dashboard","info":"Load all counted cars from db to display on dashboard","x":759.6666870117188,"y":24.66666030883789,"wires":[]},{"id":"fb635936.06cdf8","type":"delay","z":"5a5c57b2.16c7d8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":286.5,"y":59,"wires":[["2071f1c7.bf84ce"]]},{"id":"22f44683.676c6a","type":"inject","z":"5a5c57b2.16c7d8","name":"Daily Reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":719.5,"y":548,"wires":[["271c6357.71956c"]]},{"id":"271c6357.71956c","type":"function","z":"5a5c57b2.16c7d8","name":"Reset latest Query","func":"msg.topic = \"UPDATE latest_count SET cars_in = 0, cars_out = 0, cars_in_area = 0, front_in = 0, front_out = 0, back_in = 0, back_out = 0 , date = '\"+(new Date()).toLocaleDateString()+\"' WHERE 1\";\nreturn msg;","outputs":1,"noerr":0,"x":909,"y":548,"wires":[["82b9173e.071c08"]]},{"id":"703c8780.d98be8","type":"change","z":"5a5c57b2.16c7d8","name":"set flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].cars_in_area","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":801.7776718139648,"y":182.3333339691162,"wires":[["d6d00534.f086a8"]]},{"id":"2a3fca56.5d69e6","type":"mqtt out","z":"5a5c57b2.16c7d8","name":"UI trigger","topic":"/status","qos":"1","retain":"","broker":"921d6f8d.47f0a","x":698.111198425293,"y":1701.7142581939697,"wires":[]},{"id":"c85469e.2595398","type":"function","z":"5a5c57b2.16c7d8","name":"Reset latest Query","func":"// reset flow value\nflow.set('frontin',0);\nflow.set('frontout',0);\nflow.set('backin',0);\nflow.set('backout',0);\nflow.set('totalcarsin',0);\nflow.set('totalcarsout',0);\nflow.set('totalcarsinarea',0);\nmsg.topic = \"UPDATE latest_count SET cars_in = 0, cars_out = 0, cars_in_area = 0, front_in = 0, front_out = 0, back_in = 0, back_out = 0 , date = '\"+(new Date()).toLocaleDateString()+\"' WHERE 1\";\nreturn msg;","outputs":1,"noerr":0,"x":727.6111373901367,"y":1768.7142581939697,"wires":[["a6e6b098.7aee2"]]},{"id":"4c236f47.12c36","type":"comment","z":"5a5c57b2.16c7d8","name":"Reset all counter value","info":"","x":482.61116790771484,"y":1772.7143802642822,"wires":[]},{"id":"27b4e194.3adb4e","type":"ui_button","z":"5a5c57b2.16c7d8","name":"Reset button","group":"4f9f69ef.53cd18","order":1,"width":0,"height":0,"passthru":false,"label":"RESET COUNTER","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":454.6111068725586,"y":1710.7142581939697,"wires":[["c85469e.2595398","2a3fca56.5d69e6"]]},{"id":"b8300013.1ea42","type":"ui_template","z":"5a5c57b2.16c7d8","group":"fc63a1d.486596","name":"Counter stations","order":1,"width":0,"height":0,"format":"<style>\n    .active{color:green}\n    .inactive{color:red}\n</style>\n<table>\n   <tr>\n    <th width=\"3%\">#</th>\n    <th width=\"3%\">Camera</th>\n    <th>Position</th>\n    <th width=\"20%\">Cars in</th>\n    <th width=\"20%\">Cars out</th>\n    \n   </tr>\n   <tr>\n      <td align=\"center\">1</td>\n      <td align=\"center\" id=\"frontRow\" class={{msg.payload[1]}}><i class=\"fa fa-video-camera\" aria-hidden=\"true\"></i></td>\n      <td align=\"center\">Front gate</td>\n      <td align=\"center\">{{msg.payload[0].front_in}}</td>\n      <td align=\"center\">{{msg.payload[0].front_out}}</td>\n   </tr>\n   <tr>\n      <td align=\"center\">2</td>\n      <td align=\"center\" id=\"backRow\" class={{msg.payload[2]}}><i class=\"fa fa-video-camera\" aria-hidden=\"true\"></i></td>\n      <td align=\"center\">Back gate</td>\n      <td align=\"center\">{{msg.payload[0].back_in}}</td>\n      <td align=\"center\">{{msg.payload[0].back_out}}</td>\n   </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":982.611083984375,"y":250.11111450195312,"wires":[[]]},{"id":"2d442f5f.6913","type":"change","z":"5a5c57b2.16c7d8","name":"set inactive status","rules":[{"t":"set","p":"frontStatus","pt":"flow","to":"inactive","tot":"str"},{"t":"set","p":"backStatus","pt":"flow","to":"inactive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":312.5,"y":788.0357780456543,"wires":[["ce337612.0330f8"]]},{"id":"8589ce7.197153","type":"inject","z":"5a5c57b2.16c7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":102.5,"y":791.0357780456543,"wires":[["2d442f5f.6913"]]},{"id":"c3798330.ba614","type":"change","z":"5a5c57b2.16c7d8","name":"add flow to payload","rules":[{"t":"set","p":"payload[2]","pt":"msg","to":"backStatus","tot":"flow"},{"t":"set","p":"payload[1]","pt":"msg","to":"frontStatus","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":776.2777633666992,"y":251.22222709655762,"wires":[["b8300013.1ea42"]]},{"id":"2966fbf8.94ca94","type":"change","z":"5a5c57b2.16c7d8","name":"","rules":[{"t":"set","p":"frontStatus","pt":"flow","to":"active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":311.5,"y":831.0357780456543,"wires":[["ce337612.0330f8"]]},{"id":"ce337612.0330f8","type":"mqtt out","z":"5a5c57b2.16c7d8","name":"UI trigger","topic":"/status","qos":"1","retain":"","broker":"921d6f8d.47f0a","x":521,"y":808.0357780456543,"wires":[]},{"id":"c9216afd.237218","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"Keep front active","topic":"FrontGate/status","qos":"2","datatype":"auto","broker":"921d6f8d.47f0a","x":89,"y":834.0357780456543,"wires":[["2966fbf8.94ca94"]]},{"id":"852cebfe.eb0b48","type":"change","z":"5a5c57b2.16c7d8","name":"","rules":[{"t":"set","p":"backStatus","pt":"flow","to":"active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":312,"y":872.0357780456543,"wires":[["ce337612.0330f8"]]},{"id":"8217c1ba.ef06a","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"Keep back active","topic":"BackGate/status","qos":"2","datatype":"auto","broker":"921d6f8d.47f0a","x":85,"y":886.0357780456543,"wires":[["852cebfe.eb0b48"]]},{"id":"8bd2e4e3.75fc08","type":"comment","z":"5a5c57b2.16c7d8","name":"--------------------------------------------------- On start routeen job ---------------------------------------------------","info":"","x":335,"y":421.3333435058594,"wires":[]},{"id":"a120b371.6f88b","type":"function","z":"5a5c57b2.16c7d8","name":"Flows","func":"flow.set('frontin',0);\nflow.set('frontout',0);\nflow.set('backin',0);\nflow.set('backout',0);\nflow.set('totalcarsin',0);\nflow.set('totalcarsout',0);\nflow.set('totalcarsinarea',0);\nflow.set('arrCarsInArea',[]);\nflow.set('frontinsnap',[]);\nflow.set('frontoutsnap',[]);\nflow.set('backinsnap',[]);\nflow.set('backoutsnap',[]);\nflow.set('index',0);\nflow.set('currentDate',(new Date()).toLocaleDateString(\"nl\",{year:\"numeric\",month:\"2-digit\", day:\"2-digit\"}));\n//flow.set('currentDate','2019-08-03')","outputs":1,"noerr":0,"x":247.88888804117838,"y":470.8888990614149,"wires":[[]]},{"id":"f1653c39.872c5","type":"ui_chart","z":"5a5c57b2.16c7d8","name":"Chart cars in area","group":"7ed8240.dc39ddc","order":2,"width":0,"height":0,"label":"Today traffic","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1442.039665222168,"y":1221.0000247955322,"wires":[[]]},{"id":"1a8c4764.9d13f9","type":"function","z":"5a5c57b2.16c7d8","name":"Set chart topic","func":"msg.topic = 'cars in area';\nmsg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1234.539665222168,"y":1220.0000247955322,"wires":[["f1653c39.872c5"]]},{"id":"bebc058f.05d6f8","type":"function","z":"5a5c57b2.16c7d8","name":"Set chart topic","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":468.53966522216797,"y":975.0000247955322,"wires":[["87346ce5.b80dc"]]},{"id":"87346ce5.b80dc","type":"ui_chart","z":"5a5c57b2.16c7d8","name":"Chart cars out","group":"780905ec.545d0c","order":2,"width":0,"height":0,"label":"Today traffic","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8000","#8080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":667.039665222168,"y":977.0000247955322,"wires":[[]]},{"id":"17a8861b.3a12da","type":"function","z":"5a5c57b2.16c7d8","name":"Set chart topic","func":"msg.payload = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":471.5396728515625,"y":1560,"wires":[["71bc6b92.79bcd4"]]},{"id":"71bc6b92.79bcd4","type":"ui_chart","z":"5a5c57b2.16c7d8","name":"Chart cars in","group":"6dbff625.48dc38","order":2,"width":0,"height":0,"label":"Today traffic","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8000","#8080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660.0396728515625,"y":1545,"wires":[[]]},{"id":"e04a40df.0a9a6","type":"ui_template","z":"d589bafc.5c6b68","group":"26b09c57.0dd944","name":"Week","order":2,"width":"0","height":"0","format":"<style>\n    .active{color:green}\n    .inactive{color:red}\n</style>\n<table>\n<thead>\n   <tr>\n    <th width=\"3%\" rowspan=\"2\">Day</th>\n    <th rowspan=\"2\">Max cars in area</th>\n    <th width=\"20%\" colspan=\"2\">Front gate</th>\n    <th width=\"20%\" colspan=\"2\">Back gate</th>\n   </tr>\n   <tr>\n    <th>in</th>\n    <th>out</th>\n    <th>in</th>\n    <th>out</th>\n   </tr>\n </thead>\n <tbody>\n   <tr ng-repeat=\"count in msg.payload.list\" ng-click=\"send(msg);\" style=\"width:100%\">\n     <td ng-bind=\"count.day\" align=\"center\"></td>\n     <td ng-bind=\"count.max_cars_in_area | number\" align=\"center\"></td>\n     <td ng-bind=\"count.front_in | number\" align=\"center\"></td>\n     <td ng-bind=\"count.front_out | number\" align=\"center\"></td>\n     <td ng-bind=\"count.back_in | number\" align=\"center\"></td>\n     <td ng-bind=\"count.back_out | number\" align=\"center\"></td>\n   </tr>\n <tr ng-repeat=\"sum in msg.payload.sum\" ng-click=\"send(msg);\" style=\"font-weight:bold;\">\n     <td align=\"center\">Total</td>\n     <td ng-bind=\"(sum.mx_cars | number) + ' (Max)'\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_front_in | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_front_out | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_back_in | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_back_out | number\" align=\"center\"></td>\n   </tr>\n  </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1102.75,"y":178.00001525878906,"wires":[[]]},{"id":"b9da01e.6edf3","type":"inject","z":"d589bafc.5c6b68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":147.5,"y":71,"wires":[["6cac5a7.101f2a4","96fd023c.5b321","35950883.af2028","fc2731a2.eedf6","dfc101f7.abb3","57f5ff5e.fcf6a"]]},{"id":"675d1075.91928","type":"inject","z":"5a5c57b2.16c7d8","name":"Daily Reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 9-21 * * *","once":false,"onceDelay":0.1,"x":86.66667938232422,"y":627.2500047683716,"wires":[["69d9982d.cde258"]]},{"id":"69d9982d.cde258","type":"function","z":"5a5c57b2.16c7d8","name":"Get latest count","func":"msg.topic = \"SELECT * FROM latest_count\";\nreturn msg;","outputs":1,"noerr":0,"x":275.00000762939453,"y":626.2500019073486,"wires":[["650d7c63.6ed514"]]},{"id":"512fac3c.873e04","type":"function","z":"5a5c57b2.16c7d8","name":"Insert daily count","func":"msg.topic = \"INSERT INTO daily_count (max_cars_in_area,front_in,front_out,back_in,back_out,insert_date) VALUES(\"+msg.payload[0].max_cars_in_area+\",\"+msg.payload[0].front_in+\",\"+msg.payload[0].front_out+\",\"+msg.payload[0].back_in+\",\"+msg.payload[0].back_out+\",'\"+msg.payload[0].date+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":910.000023735894,"y":719.7500003178914,"wires":[["82b9173e.071c08"]]},{"id":"32dc1a3f.4a68a6","type":"delay","z":"5a5c57b2.16c7d8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":696.7500180138481,"y":713.249999364217,"wires":[["512fac3c.873e04"]]},{"id":"eda100ad.16587","type":"function","z":"5a5c57b2.16c7d8","name":"Delete daily count","func":"msg.topic = \"DELETE FROM daily_count WHERE insert_date = '\"+flow.get('currentDate')+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":913.000023735894,"y":674.7500003178914,"wires":[["82b9173e.071c08"]]},{"id":"e8de5fc8.aef8f","type":"delay","z":"5a5c57b2.16c7d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":698.2500180138481,"y":668.249999364217,"wires":[["eda100ad.16587"]]},{"id":"ff66aad.d01ba58","type":"function","z":"5a5c57b2.16c7d8","name":"2 num","func":"msg.payload = Number(msg.payload);\nmsg.topic = 'front';\nreturn msg;","outputs":1,"noerr":0,"x":255.99999237060547,"y":1022.4920902252197,"wires":[["343df944.9b5c36","98f70686.605568","bebc058f.05d6f8"]]},{"id":"9e97bd99.30c51","type":"function","z":"5a5c57b2.16c7d8","name":"reset past latest count","func":"// reset flow value\nflow.set('frontin',0);\nflow.set('frontout',0);\nflow.set('backin',0);\nflow.set('backout',0);\nflow.set('totalcarsin',0);\nflow.set('totalcarsout',0);\nflow.set('totalcarsinarea',0);\nmsg.topic = \"UPDATE latest_count SET cars_in = 0, cars_out = 0, max_cars_in_area = 0, cars_in_area = 0, front_in = 0, front_out = 0, back_in = 0, back_out = 0 , date = '\"+flow.get('currentDate')+\"' WHERE 1\";\nreturn msg;","outputs":1,"noerr":0,"x":919.2500114440918,"y":627.750002861023,"wires":[["82b9173e.071c08"]]},{"id":"2056d7fc.85ee28","type":"comment","z":"5a5c57b2.16c7d8","name":"Reset and initial all flow value","info":"","x":462.7916488647461,"y":470.00000858306885,"wires":[]},{"id":"76bb8cb0.883a04","type":"comment","z":"5a5c57b2.16c7d8","name":"Inject every 9.00 น. (เวลาเริ่มงาน)","info":"","x":135,"y":588.7500038146973,"wires":[]},{"id":"28bb17a3.5ef7c8","type":"delay","z":"5a5c57b2.16c7d8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":695.0000076293945,"y":627.5000019073486,"wires":[["9e97bd99.30c51"]]},{"id":"6cf3d0a2.b302e","type":"mqtt out","z":"5a5c57b2.16c7d8","name":"UI trigger","topic":"/status","qos":"1","retain":"","broker":"921d6f8d.47f0a","x":1308.5,"y":625.75,"wires":[]},{"id":"a23e8af1.f6a908","type":"ui_template","z":"d589bafc.5c6b68","group":"26b09c57.0dd944","name":"Custom css","order":1,"width":0,"height":0,"format":"<style>\n    \ntable {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 95%;\n    border-collapse: collapse;\n    border-spacing: 0;\n    margin-left:auto;\n    margin-right:auto;\n    margin-top:20px;\n    margin-bottom:20px;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */\n    \n.animate-enter, \n.animate-leave\n{ \n    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    position: relative;\n    display: block;\n} \n\n.animate-enter.animate-enter-active, \n.animate-leave {\n    opacity: 1;\n    top: 0;\n    height: 30px;\n}\n\n.animate-leave.animate-leave-active,\n.animate-enter {\n    opacity: 0;\n    top: -50px;\n    height: 0px;\n}\n    \n.container\n{\n    max-height: 450px;\n    overflow-y: scroll;\n    overflow-x: hidden;\n}\n</style>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":613.375,"y":79.25000762939453,"wires":[[]]},{"id":"3555cde3.58c752","type":"delay","z":"d589bafc.5c6b68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580.875,"y":180.5,"wires":[["455b4759.f76218"]]},{"id":"a3206a5e.9d6cd8","type":"delay","z":"d589bafc.5c6b68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":574.5833358764648,"y":239.1666603088379,"wires":[["455b4759.f76218"]]},{"id":"ecaec709.40da88","type":"comment","z":"d589bafc.5c6b68","name":"Wait after SET Locale done","info":"","x":636.875,"y":136.25,"wires":[]},{"id":"5453843d.6fbc4c","type":"ui_button","z":"878f1863.20faa8","name":"Start FrontGate camera","group":"84562a1.7b760d8","order":1,"width":0,"height":0,"passthru":false,"label":"Start FrontGate Camera","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":165.5,"y":90,"wires":[["13d4a083.311a1f"]]},{"id":"13d4a083.311a1f","type":"exec","z":"878f1863.20faa8","command":"start \"\"  /D \"D:\\Python\\ss-traffic-counter\\exe\\traffic_counter1\\\" traffic_counter1.exe --mqtt 192.168.1.35 --mqtttopic FrontGate --streamurl rtsp://192.168.1.36:554/2 --poscountline 200","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Start camera","x":461.00000762939453,"y":89.75000190734863,"wires":[[],[],[]]},{"id":"b6813b7c.04d0f8","type":"debug","z":"5a5c57b2.16c7d8","name":"","active":true,"console":"false","complete":"false","x":2143,"y":2112,"wires":[]},{"id":"644ec441.ba3eec","type":"ui_button","z":"878f1863.20faa8","name":"Start BackGate camera","group":"84562a1.7b760d8","order":1,"width":0,"height":0,"passthru":false,"label":"Start BackGate Camera","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":165,"y":190,"wires":[["72fa2083.e0d59"]]},{"id":"72fa2083.e0d59","type":"exec","z":"878f1863.20faa8","command":"start \"\"  /D \"D:\\Python\\ss-traffic-counter\\exe\\traffic_counter1\\\" traffic_counter1.exe --mqtt 192.168.1.35 --mqtttopic BackGate --streamurl rtsp://192.168.1.36:554/2 --poscountline 200","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Start camera","x":468.00000762939453,"y":188.50000381469727,"wires":[[],[],[]]},{"id":"a6e6b098.7aee2","type":"sqlite","z":"5a5c57b2.16c7d8","mydb":"523477cd.8b87d8","sqlquery":"msg.topic","sql":"","name":"DB","x":1477.5,"y":1687.5,"wires":[[]]},{"id":"82b9173e.071c08","type":"sqlite","z":"5a5c57b2.16c7d8","mydb":"523477cd.8b87d8","sqlquery":"msg.topic","sql":"","name":"DB","x":1138,"y":548.5,"wires":[["6cf3d0a2.b302e"]]},{"id":"650d7c63.6ed514","type":"sqlite","z":"5a5c57b2.16c7d8","mydb":"523477cd.8b87d8","sqlquery":"msg.topic","sql":"","name":"DB","x":476,"y":629,"wires":[["28bb17a3.5ef7c8","e8de5fc8.aef8f","32dc1a3f.4a68a6"]]},{"id":"b0266f51.6300f","type":"sqlite","z":"5a5c57b2.16c7d8","mydb":"523477cd.8b87d8","sqlquery":"msg.topic","sql":"","name":"DB","x":691.75,"y":59,"wires":[["703c8780.d98be8","c3798330.ba614","f037874d.880808","4c85d8d5.780de8"]]},{"id":"455b4759.f76218","type":"sqlite","z":"d589bafc.5c6b68","mydb":"523477cd.8b87d8","sqlquery":"msg.topic","sql":"","name":"DB","x":743.7500114440918,"y":177.50000381469727,"wires":[["afbdd260.2de43"]]},{"id":"6cac5a7.101f2a4","type":"function","z":"d589bafc.5c6b68","name":"Query current week","func":"msg.topic = \"SELECT *, case cast (strftime('%w', insert_date) as integer) when 0 then 'Sunday' when 1 then 'Monday' when 2 then 'Tuesday' when 3 then 'Wednesday' when 4 then 'Thursday' when 5 then 'Friday' else 'Saturday' end as day FROM daily_count WHERE strftime('%W',insert_date) = strftime('%W','now')\";\nmsg.key = 'list';\nreturn msg;","outputs":1,"noerr":0,"x":390.5,"y":173,"wires":[["3555cde3.58c752"]]},{"id":"96fd023c.5b321","type":"function","z":"d589bafc.5c6b68","name":"Query summary","func":"msg.topic = \"SELECT MAX(max_cars_in_area) as mx_cars, SUM(front_in) as sm_front_in, SUM(front_out) as sm_front_out, SUM(back_in) as sm_back_in, SUM(back_out) as sm_back_out FROM daily_count WHERE strftime('%W',insert_date) = strftime('%W','now')\";\nmsg.key = 'sum';\nreturn msg;","outputs":1,"noerr":0,"x":386.5,"y":220,"wires":[["a3206a5e.9d6cd8"]]},{"id":"f89701b1.36c35","type":"debug","z":"d589bafc.5c6b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110.8333435058594,"y":102.66667056083679,"wires":[]},{"id":"95b5ad6c.5c442","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"FrontGate Snap in","topic":"FrontGate/snapshotin","qos":"2","datatype":"utf8","broker":"921d6f8d.47f0a","x":1226,"y":81,"wires":[["9c3a3a3d.27e3b8"]]},{"id":"5dd3647c.ba878c","type":"ui_template","z":"5a5c57b2.16c7d8","group":"8e60105e.0e081","name":"FrontGate in","order":1,"width":"18","height":"3","format":"<style>\n    .img-snap{\n        height:80px;float:left;margin:3px;\n    }\n</style>\n<div>\n    <h3>Car in</h3>\n    <img  ng-repeat=\"img in msg.payload | orderBy:'$index':true\" src=\"data:image/jpg;base64, {{img}}\"  class=\"img-snap\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1629.2500228881836,"y":81.00000095367432,"wires":[[]]},{"id":"a6091cdd.395ab","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"FrontGate Snap out","topic":"FrontGate/snapshotout","qos":"2","datatype":"utf8","broker":"921d6f8d.47f0a","x":1223.25,"y":130,"wires":[["fa2601c5.128de"]]},{"id":"443ce380.898f4c","type":"ui_template","z":"5a5c57b2.16c7d8","group":"8e60105e.0e081","name":"FrontGate out","order":3,"width":"18","height":"3","format":"<div>\n    <h3>Car out</h3>\n    <img  ng-repeat=\"img in msg.payload | orderBy:'$index':true\" src=\"data:image/jpg;base64, {{img}}\"  class=\"img-snap\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1635.2500228881836,"y":130.00000190734863,"wires":[[]]},{"id":"60b32f05.ac902","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"BackGate Snap in","topic":"BackGate/snapshotin","qos":"2","datatype":"utf8","broker":"921d6f8d.47f0a","x":1223.2500228881836,"y":190.00000286102295,"wires":[["b2a5ada9.c0a51"]]},{"id":"bd1ab533.6dbb68","type":"ui_template","z":"5a5c57b2.16c7d8","group":"5726309e.cf31d","name":"BackGate in","order":1,"width":"18","height":"3","format":"<div>\n    <h3>Car in</h3>\n    <img  ng-repeat=\"img in msg.payload | orderBy:'$index':true\" src=\"data:image/jpg;base64, {{img}}\"  class=\"img-snap\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1626.500020980835,"y":188.75000286102295,"wires":[[]]},{"id":"6c21bb7.d11cd44","type":"mqtt in","z":"5a5c57b2.16c7d8","name":"BackGate Snap out","topic":"BackGate/snapshotout","qos":"2","datatype":"utf8","broker":"921d6f8d.47f0a","x":1220.5000228881836,"y":239.00000286102295,"wires":[["f8e30160.c82fc"]]},{"id":"849a6e7f.009fb","type":"ui_template","z":"5a5c57b2.16c7d8","group":"5726309e.cf31d","name":"BackGate out","order":1,"width":"18","height":"3","format":"<div>\n    <h3>Car out</h3>\n    <img  ng-repeat=\"img in msg.payload | orderBy:'$index':true\" src=\"data:image/jpg;base64, {{img}}\"  class=\"img-snap\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1636.2500228881836,"y":242.75000381469727,"wires":[[]]},{"id":"9c3a3a3d.27e3b8","type":"function","z":"5a5c57b2.16c7d8","name":"","func":"let arr = flow.get('frontinsnap');\nif (arr.length > 6) arr.length = 0;\narr.push(msg.payload);\nflow.set('frontinsnap',arr);\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":1432.6250228881836,"y":81.25000095367432,"wires":[["5dd3647c.ba878c"]]},{"id":"fa2601c5.128de","type":"function","z":"5a5c57b2.16c7d8","name":"","func":"let arr = flow.get('frontoutsnap');\nif (arr.length > 6) arr.length = 0;\narr.push(msg.payload);\nflow.set('frontoutsnap',arr);\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":1432.0000228881836,"y":127.50000381469727,"wires":[["443ce380.898f4c"]]},{"id":"b2a5ada9.c0a51","type":"function","z":"5a5c57b2.16c7d8","name":"","func":"let arr = flow.get('backinsnap');\nif (arr.length > 6) arr.length = 0;\narr.push(msg.payload);\nflow.set('backinsnap',arr);\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":1433.25,"y":190,"wires":[["bd1ab533.6dbb68"]]},{"id":"f8e30160.c82fc","type":"function","z":"5a5c57b2.16c7d8","name":"","func":"let arr = flow.get('backoutsnap');\nif (arr.length > 6) arr.length = 0;\narr.push(msg.payload);\nflow.set('backoutsnap',arr);\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":1433.25,"y":242.5,"wires":[["849a6e7f.009fb"]]},{"id":"399fdb3.7801e24","type":"inject","z":"5a5c57b2.16c7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":97.88888804117838,"y":470.8888990614149,"wires":[["a120b371.6f88b"]]},{"id":"afbdd260.2de43","type":"join","z":"d589bafc.5c6b68","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":918.333251953125,"y":181.6666498184204,"wires":[["e04a40df.0a9a6","f89701b1.36c35"]]},{"id":"c5195847.b13498","type":"ui_template","z":"d589bafc.5c6b68","group":"c5784487.fe1a28","name":"Month","order":1,"width":"0","height":"0","format":"<table width=\"100%\">\n <thead>\n   <tr>\n    <th width=\"3%\" rowspan=\"2\">Date</th>\n    <th rowspan=\"2\">Max cars in area</th>\n    <th width=\"20%\" colspan=\"2\">Front gate</th>\n    <th width=\"20%\" colspan=\"2\">Back gate</th>\n   </tr>\n   <tr>\n    <th>in</th>\n    <th>out</th>\n    <th>in</th>\n    <th>out</th>\n   </tr>\n  </thead>\n  <tbody>\n   <tr ng-repeat=\"count in msg.payload.list\" ng-click=\"send(msg);\" style=\"width:100%;\">\n     <td ng-bind=\"count.day\" align=\"center\"></td>\n     <td ng-bind=\"count.max_cars_in_area | number\" align=\"center\"></td>\n     <td ng-bind=\"count.front_in | number\" align=\"center\"></td>\n     <td ng-bind=\"count.front_out | number\" align=\"center\"></td>\n     <td ng-bind=\"count.back_in | number\" align=\"center\"></td>\n     <td ng-bind=\"count.back_out | number\" align=\"center\"></td>\n   </tr>\n   <tr ng-repeat=\"sum in msg.payload.sum\" ng-click=\"send(msg);\" style=\"font-weight:bold;\">\n     <td align=\"center\">Total</td>\n     <td ng-bind=\"(sum.mx_cars | number) + ' (Max)'\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_front_in | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_front_out | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_back_in | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_back_out | number\" align=\"center\"></td>\n   </tr>\n  </tbody>\n  </table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1092.2500190734863,"y":328.00000286102295,"wires":[[]]},{"id":"ea91a31c.83e4c","type":"ui_template","z":"d589bafc.5c6b68","group":"b0a19fea.9d296","name":"Year","order":1,"width":"0","height":"0","format":"<table width=\"95%\" align=\"center\">\n <thead>\n   <tr>\n    <th width=\"3%\" rowspan=\"2\">Month</th>\n    <th rowspan=\"2\">Max cars in area</th>\n    <th width=\"20%\" colspan=\"2\">Front gate</th>\n    <th width=\"20%\" colspan=\"2\">Back gate</th>\n   </tr>\n   <tr>\n    <th>in</th>\n    <th>out</th>\n    <th>in</th>\n    <th>out</th>\n   </tr>\n  </thead>\n  <tbody>\n   <tr ng-repeat=\"count in msg.payload.list\" ng-click=\"send(msg);\" style=\"width:100%;\">\n     <td ng-bind=\"count.month\" align=\"center\"></td>\n     <td ng-bind=\"count.mx_cars | number\" align=\"center\"></td>\n     <td ng-bind=\"count.sm_front_in | number\" align=\"center\"></td>\n     <td ng-bind=\"count.sm_front_out | number\" align=\"center\"></td>\n     <td ng-bind=\"count.sm_back_in | number\" align=\"center\"></td>\n     <td ng-bind=\"count.sm_back_out | number\" align=\"center\"></td>\n   </tr>\n   <tr ng-repeat=\"sum in msg.payload.sum\" ng-click=\"send(msg);\" style=\"font-weight:bold;\">\n     <td align=\"center\">Total</td>\n     <td ng-bind=\"(sum.mx_cars | number) +' (Max)'\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_front_in | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_front_out | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_back_in | number\" align=\"center\"></td>\n     <td ng-bind=\"sum.sm_back_out | number\" align=\"center\"></td>\n   </tr>\n  </tbody>\n  </table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1087.5000190734863,"y":509.0000047683716,"wires":[[]]},{"id":"ae70b06e.2b2ff","type":"join","z":"d589bafc.5c6b68","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":938.7500114440918,"y":322.50000381469727,"wires":[["c5195847.b13498"]]},{"id":"123fbba3.16bc64","type":"join","z":"d589bafc.5c6b68","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":933.7500114440918,"y":503.75000762939453,"wires":[["ea91a31c.83e4c"]]},{"id":"e2c73e18.bff21","type":"delay","z":"d589bafc.5c6b68","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":581.2500076293945,"y":323.7500047683716,"wires":[["740e6892.e2cc98"]]},{"id":"1cf394d1.3bc46b","type":"delay","z":"d589bafc.5c6b68","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":571.2500076293945,"y":377.5000057220459,"wires":[["740e6892.e2cc98"]]},{"id":"b9e2928f.f2ac2","type":"delay","z":"d589bafc.5c6b68","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":571.2500076293945,"y":508.75000762939453,"wires":[["a519a834.5c63c8"]]},{"id":"8864f749.314788","type":"delay","z":"d589bafc.5c6b68","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":567.5000076293945,"y":561.2500076293945,"wires":[["a519a834.5c63c8"]]},{"id":"740e6892.e2cc98","type":"sqlite","z":"d589bafc.5c6b68","mydb":"523477cd.8b87d8","sqlquery":"msg.topic","sql":"","name":"DB","x":741.2500114440918,"y":325.0000057220459,"wires":[["ae70b06e.2b2ff"]]},{"id":"a519a834.5c63c8","type":"sqlite","z":"d589bafc.5c6b68","mydb":"523477cd.8b87d8","sqlquery":"msg.topic","sql":"","name":"DB","x":738.75,"y":508.75,"wires":[["123fbba3.16bc64"]]},{"id":"35950883.af2028","type":"function","z":"d589bafc.5c6b68","name":"Query current Month","func":"msg.topic = \"SELECT *,strftime('%d',insert_date) as day FROM daily_count WHERE strftime('%m',insert_date) = strftime('%m','now') ORDER BY insert_date\";\nmsg.key = 'list';\nreturn msg;","outputs":1,"noerr":0,"x":400.5,"y":307,"wires":[["e2c73e18.bff21"]]},{"id":"fc2731a2.eedf6","type":"function","z":"d589bafc.5c6b68","name":"Query summary","func":"msg.topic = \"SELECT MAX(max_cars_in_area) as mx_cars, SUM(front_in) as sm_front_in, SUM(front_out) as sm_front_out, SUM(back_in) as sm_back_in, SUM(back_out) as sm_back_out FROM daily_count WHERE strftime('%m',insert_date) = strftime('%m','now')\";\nmsg.key = 'sum';\nreturn msg;","outputs":1,"noerr":0,"x":385.5,"y":380,"wires":[["1cf394d1.3bc46b"]]},{"id":"dfc101f7.abb3","type":"function","z":"d589bafc.5c6b68","name":"Query current year","func":"msg.topic = \"SELECT MAX(max_cars_in_area) as mx_cars, SUM(front_in) as sm_front_in, SUM(front_out) as sm_front_out, SUM(back_in) as sm_back_in, SUM(back_out) as sm_back_out, strftime('%m',insert_date) as month FROM daily_count GROUP BY strftime('%m',insert_date)\";\nmsg.key = 'list';\nreturn msg;","outputs":1,"noerr":0,"x":370.5,"y":499,"wires":[["b9e2928f.f2ac2"]]},{"id":"57f5ff5e.fcf6a","type":"function","z":"d589bafc.5c6b68","name":"Query summary","func":"msg.topic = \"SELECT MAX(max_cars_in_area) as mx_cars, SUM(front_in) as sm_front_in, SUM(front_out) as sm_front_out, SUM(back_in) as sm_back_in, SUM(back_out) as sm_back_out FROM daily_count GROUP BY strftime('%y',insert_date)\"\nmsg.key = 'sum';\nreturn msg;","outputs":1,"noerr":0,"x":361.5,"y":544,"wires":[["8864f749.314788"]]},{"id":"4c85d8d5.780de8","type":"ui_template","z":"5a5c57b2.16c7d8","group":"780905ec.545d0c","name":"Total cars out","order":1,"width":"6","height":"5","format":"<br><br><br><div ng-bind-html=\"msg.payload[0].cars_out\" style=\"text-align:center;font-size:40px; line-height:60px;\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":957.1111259460449,"y":64.2222261428833,"wires":[[]]}]