node-red/API-maridb.flow
[{"id":"26b73233.e0328e","type":"tab","label":"API Maria DB","disabled":false,"info":""},{"id":"acdbf2d7.3ea15","type":"http in","z":"26b73233.e0328e","name":"Get by ID","url":"/api/logs/:id","method":"get","upload":false,"swaggerDoc":"","x":120,"y":180,"wires":[["e686baf3.d8bac8"]]},{"id":"69084fc7.608c2","type":"function","z":"26b73233.e0328e","name":"Log details","func":"flow.set('data', [\n {id:1, slug:\"frontgate-cam1-car\", value:\"in\"},\n {id:2, slug:\"frontgate-cam1-bus\",value:\"out\"},\n {id:3, slug:\"frontgate-cam1-car-in-count\",value:0},\n {id:4, slug:\"frontgate-cam1-bus-out-count\",value:0},\n {id:5, slug:\"frontgate-cam1-bike\",value:\"in\"},\n]);\n\nmsg.payload = undefined;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":40,"wires":[[]]},{"id":"f6511a67.0f39e8","type":"inject","z":"26b73233.e0328e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":60,"wires":[["69084fc7.608c2","659aa7fb.334a98"]]},{"id":"e686baf3.d8bac8","type":"function","z":"26b73233.e0328e","name":"Retrieve data","func":"var newMsg = { payload : msg.payload };\n\nnewMsg.topic = \"SELECT * FROM `update`  WHERE `update`.`id` = 1;\";\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["a69b6b6c.f2ebe8"]]},{"id":"a69b6b6c.f2ebe8","type":"http response","z":"26b73233.e0328e","name":"Return all","statusCode":"","headers":{"content-type":"application/json"},"x":620,"y":140,"wires":[]},{"id":"916e51a3.55d1e","type":"http in","z":"26b73233.e0328e","name":"Get All","url":"/api/logs/","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["e686baf3.d8bac8"]]},{"id":"6b5e4cb9.eb7d04","type":"http in","z":"26b73233.e0328e","name":"Post","url":"/api/logs","method":"post","upload":false,"swaggerDoc":"","x":110,"y":340,"wires":[["ce70e268.b294"]]},{"id":"ce70e268.b294","type":"function","z":"26b73233.e0328e","name":"Insert","func":"let newMsg = { payload : msg.payload };\nlet body = msg.payload;\n\nnewMsg.topic = \"INSERT INTO logs (group_name,name,details) VALUES ('\"+body.group_name+\"','\"+body.name+\"','\"+body.details+\"')\";\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":250,"y":340,"wires":[["af2353cb.8a5ab"]]},{"id":"b2d5b31e.bee47","type":"http in","z":"26b73233.e0328e","name":"PUT","url":"/api/logs/:id","method":"put","upload":false,"swaggerDoc":"","x":110,"y":480,"wires":[["7c4cc27b.433e9c"]]},{"id":"7de60a79.de3074","type":"http in","z":"26b73233.e0328e","name":"Get by Camera","url":"/api/logs/cam/:id","method":"get","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["68c3194.7952ae8"]]},{"id":"68c3194.7952ae8","type":"function","z":"26b73233.e0328e","name":"Retrieve data","func":"let data = flow.get('data');\nlet filters = [];\nif(msg.req.params && msg.req.params.id) {\n    for(let itx in data) {\n        if(data[itx].cam == msg.req.params.id) {\n            filters.push(data[itx]);\n            //break;\n        }\n    }\n    msg.payload = filters;\n} else {\n    msg.payload = data;\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["857c73fc.a76ed"]]},{"id":"857c73fc.a76ed","type":"http response","z":"26b73233.e0328e","name":"Return all","statusCode":"200","headers":{"content-type":"application/json"},"x":620,"y":220,"wires":[]},{"id":"cebfba9a.d0b298","type":"function","z":"26b73233.e0328e","name":"Delete","func":"let data = flow.get('logs');\nif(msg.req.params && msg.req.params.id) {\n    data = data.filter((item) => {\n        return item.id != msg.req.params.id;\n    });\n    flow.set('logs', data);\n}\nmsg.payload = undefined;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["23575d20.364002"]]},{"id":"62447a53.ace944","type":"http in","z":"26b73233.e0328e","name":"Delete","url":"/api/logs/:id","method":"delete","upload":false,"swaggerDoc":"","x":110,"y":540,"wires":[["cebfba9a.d0b298"]]},{"id":"23575d20.364002","type":"http response","z":"26b73233.e0328e","name":"Return","statusCode":"204","headers":{"content-type":"application/json"},"x":610,"y":540,"wires":[]},{"id":"7c4cc27b.433e9c","type":"function","z":"26b73233.e0328e","name":"Update","func":"let data = flow.get('logs');\nlet body = msg.payload;\nbody.id = Number(body.id); // quick fix making sure it's a number\nlet id = msg.req.params && msg.req.params.id;\n\nfor(let itx in data) {\n    if(data[itx].id == id) {\n        data[itx].count += 1 ;\n        msg.payload = data[itx];\n        break;\n    }\n}\nmsg.payload = undefined;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["e49a5b77.1f3ca8"]]},{"id":"e49a5b77.1f3ca8","type":"http response","z":"26b73233.e0328e","name":"Return","statusCode":"204","headers":{"content-type":"application/json"},"x":610,"y":480,"wires":[]},{"id":"659aa7fb.334a98","type":"function","z":"26b73233.e0328e","name":"Logs","func":"flow.set('logs', [\n {id:1, group_name:\"frontgate\", name:\"cam1\", details:{car:\"in\"}, inserted_date:\"\"},\n {id:2, group_name:\"frontgate\", name:\"cam1\", details:{bus:\"in\"}, inserted_date:\"\"},\n {id:3, group_name:\"frontgate\", name:\"cam1\", details:{bike:\"in\"}, inserted_date:\"\"},\n {id:4, group_name:\"frontgate\", name:\"cam1\", details:{car:\"out\"}, inserted_date:\"\"},\n {id:5, group_name:\"frontgate\", name:\"cam1\", details:{car:\"out\"}, inserted_date:\"\"}\n]);\n\nmsg.payload = undefined;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[[]]},{"id":"f229f4e6.6067e8","type":"http in","z":"26b73233.e0328e","name":"Get latest","url":"/latest/","method":"get","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["b7726241.cb831"]]},{"id":"b7726241.cb831","type":"function","z":"26b73233.e0328e","name":"Retrieve data","func":"let data = flow.get('data');\nif(msg.req.params && msg.req.params.id) {\n    for(let itx in data) {\n        if(data[itx].id == msg.req.params.id) {\n            msg.payload = data[itx];\n            break;\n        }\n    }\n} else {\n    msg.payload = data;\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["ad2ac3d1.35c52"]]},{"id":"ad2ac3d1.35c52","type":"http response","z":"26b73233.e0328e","name":"Return all","statusCode":"","headers":{"content-type":"application/json"},"x":620,"y":280,"wires":[]},{"id":"4499c3d.1e17b3c","type":"debug","z":"26b73233.e0328e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":400,"wires":[]},{"id":"af2353cb.8a5ab","type":"mysql","z":"26b73233.e0328e","mydb":"317d1182.08554e","name":"Logs table","x":410,"y":340,"wires":[["624e5318.d154ac"]]},{"id":"624e5318.d154ac","type":"function","z":"26b73233.e0328e","name":"SELECT","func":"let newMsg = { payload : msg.payload };\nlet body = msg.payload;\n\nnewMsg.topic = \"SELECT LAST_INSERT_ID()\";\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["644ad77e.ad9b78"]]},{"id":"644ad77e.ad9b78","type":"mysql","z":"26b73233.e0328e","mydb":"317d1182.08554e","name":"Logs table","x":630,"y":420,"wires":[["4499c3d.1e17b3c","2a31c85.a538238"]]},{"id":"33cc86c7.a5667a","type":"http response","z":"26b73233.e0328e","name":"","statusCode":"","headers":{},"x":850,"y":580,"wires":[]},{"id":"2a31c85.a538238","type":"function","z":"26b73233.e0328e","name":"","func":"var newMsg = { payload: msg.payload[0] };\n//return [msg, newMsg];\n\nreturn newMsg;","outputs":1,"noerr":0,"x":880,"y":460,"wires":[["33cc86c7.a5667a"]]},{"id":"317d1182.08554e","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"iot_logs","tz":""}]