node-red/mqtt-to-ui.flow
[{"id":"db895204.6e7cb","type":"tab","label":"MQTT to UI","disabled":false,"info":""},{"id":"c3f08734.79fdd8","type":"ui_text","z":"db895204.6e7cb","group":"6df5e56b.a6999c","order":1,"width":0,"height":0,"name":"Front gage cars in: ","label":"Cars in: ","format":"{{msg.payload}}","layout":"row-center","x":350,"y":400,"wires":[]},{"id":"83c6b0d.66b1f5","type":"ui_text","z":"db895204.6e7cb","group":"6df5e56b.a6999c","order":1,"width":0,"height":0,"name":"Front gate cars out","label":"Cars out: ","format":"{{msg.payload}}","layout":"row-center","x":350,"y":140,"wires":[]},{"id":"ec054e2e.c141f","type":"mqtt in","z":"db895204.6e7cb","name":"Front Gate Out","topic":"FrontGate/crossedup","qos":"2","datatype":"auto","broker":"24a3d536.574e3a","x":120,"y":140,"wires":[["83c6b0d.66b1f5","67f5c648.5fa838"]]},{"id":"a9eda139.d37e9","type":"mosca in","z":"db895204.6e7cb","mqtt_port":1883,"mqtt_ws_port":8080,"name":"Counter Broker","username":"","password":"","dburl":"","x":120,"y":40,"wires":[["9e3ab424.9166e8"]]},{"id":"1f03517c.5f1a9f","type":"mqtt in","z":"db895204.6e7cb","name":"Front Gate In","topic":"FrontGate/crosseddown","qos":"2","datatype":"auto","broker":"24a3d536.574e3a","x":110,"y":400,"wires":[["c3f08734.79fdd8","160424ef.22f48b"]]},{"id":"a28dc2b7.538de","type":"ui_text","z":"db895204.6e7cb","group":"cdcf81c3.03227","order":1,"width":0,"height":0,"name":"Back gate cars in","label":"Cars in: ","format":"{{msg.payload}}","layout":"row-center","x":350,"y":460,"wires":[]},{"id":"de0b9cb5.abe3d","type":"ui_text","z":"db895204.6e7cb","group":"cdcf81c3.03227","order":1,"width":0,"height":0,"name":"Back gate cars out","label":"Cars out: ","format":"{{msg.payload}}","layout":"row-center","x":350,"y":200,"wires":[]},{"id":"1745c115.2e892f","type":"mqtt in","z":"db895204.6e7cb","name":"Back Gate Out","topic":"BackGate/crossedup","qos":"2","datatype":"utf8","broker":"24a3d536.574e3a","x":120,"y":200,"wires":[["de0b9cb5.abe3d","27e7e493.7ebbbc"]]},{"id":"1b6b8a9f.69c035","type":"mqtt in","z":"db895204.6e7cb","name":"Back Gate In","topic":"BackGate/crosseddown","qos":"2","datatype":"auto","broker":"24a3d536.574e3a","x":110,"y":460,"wires":[["a28dc2b7.538de","81d057b6.abeb38"]]},{"id":"983ce80b.4f07c8","type":"change","z":"db895204.6e7cb","name":"set flow","rules":[{"t":"set","p":"frontin","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":520,"wires":[["1843fc26.a39cc4"]]},{"id":"1843fc26.a39cc4","type":"change","z":"db895204.6e7cb","name":"sum car in","rules":[{"t":"set","p":"totalcarsin","pt":"flow","to":"$flowContext('frontin')+$flowContext('backin')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":560,"wires":[["d2acdff5.5712d","1c509dd.058cf62"]]},{"id":"3b414752.84ad98","type":"change","z":"db895204.6e7cb","name":"set flow","rules":[{"t":"set","p":"backin","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":580,"wires":[["1843fc26.a39cc4"]]},{"id":"81d057b6.abeb38","type":"function","z":"db895204.6e7cb","name":"2 num","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":580,"wires":[["3b414752.84ad98"]]},{"id":"160424ef.22f48b","type":"function","z":"db895204.6e7cb","name":"2 num","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":520,"wires":[["983ce80b.4f07c8"]]},{"id":"a7121f08.e805","type":"change","z":"db895204.6e7cb","name":"set flow","rules":[{"t":"set","p":"frontout","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":260,"wires":[["d454dd8.1c50e2"]]},{"id":"d454dd8.1c50e2","type":"change","z":"db895204.6e7cb","name":"sum cars out","rules":[{"t":"set","p":"totalcarsout","pt":"flow","to":"$flowContext('frontout')+$flowContext('backout')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[["a1844bcb.4482c8","1c509dd.058cf62"]]},{"id":"63f1cfd7.9af6","type":"change","z":"db895204.6e7cb","name":"set flow","rules":[{"t":"set","p":"backout","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":320,"wires":[["d454dd8.1c50e2"]]},{"id":"27e7e493.7ebbbc","type":"function","z":"db895204.6e7cb","name":"2 num","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["63f1cfd7.9af6"]]},{"id":"67f5c648.5fa838","type":"function","z":"db895204.6e7cb","name":"2 num","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["a7121f08.e805"]]},{"id":"a1844bcb.4482c8","type":"change","z":"db895204.6e7cb","name":"load flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"totalcarsout","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":300,"wires":[["85208fd0.2d5d3"]]},{"id":"d2acdff5.5712d","type":"change","z":"db895204.6e7cb","name":"load flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"totalcarsin","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":560,"wires":[["4e33f1df.ed8fe"]]},{"id":"9e3ab424.9166e8","type":"debug","z":"db895204.6e7cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":60,"wires":[]},{"id":"1c509dd.058cf62","type":"change","z":"db895204.6e7cb","name":"sum cars out","rules":[{"t":"set","p":"totalcarsinarea","pt":"flow","to":"$flowContext('totalcarsin')-$flowContext('totalcarsout')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":420,"wires":[["512ae7a1.5cd3b8"]]},{"id":"512ae7a1.5cd3b8","type":"change","z":"db895204.6e7cb","name":"load flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"totalcarsinarea","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":420,"wires":[["b4129fc.1a1426"]]},{"id":"b4129fc.1a1426","type":"ui_gauge","z":"db895204.6e7cb","name":"Cars remain in area","group":"9e3b464e.2a0d98","order":2,"width":0,"height":0,"gtype":"donut","title":"","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":420,"wires":[]},{"id":"4e33f1df.ed8fe","type":"ui_template","z":"db895204.6e7cb","group":"60e78e28.1f152","name":"Total cars out","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" style=\"text-align:center;font-size:30px;\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":560,"wires":[[]]},{"id":"85208fd0.2d5d3","type":"ui_template","z":"db895204.6e7cb","group":"f6813fbd.ac541","name":"Total cars out","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" style=\"text-align:center;font-size:30px;\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":300,"wires":[[]]},{"id":"6df5e56b.a6999c","type":"ui_group","z":"","name":"Front Gate","tab":"3290297f.4d9ed6","order":2,"disp":true,"width":"10","collapse":false},{"id":"24a3d536.574e3a","type":"mqtt-broker","z":"","name":"Counter Broker","broker":"192.168.1.36","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cdcf81c3.03227","type":"ui_group","z":"","name":"Back Gate","tab":"3290297f.4d9ed6","order":3,"disp":true,"width":"10","collapse":false},{"id":"9e3b464e.2a0d98","type":"ui_group","z":"","name":"Cars remain in area","tab":"3290297f.4d9ed6","order":6,"disp":true,"width":"10","collapse":false},{"id":"60e78e28.1f152","type":"ui_group","z":"","name":"Cars out","tab":"3290297f.4d9ed6","order":5,"disp":true,"width":"5","collapse":false},{"id":"f6813fbd.ac541","type":"ui_group","z":"","name":"Cars in","tab":"3290297f.4d9ed6","order":4,"disp":true,"width":"5","collapse":false},{"id":"3290297f.4d9ed6","type":"ui_tab","z":"","name":"Vehicles counting system","icon":"dashboard","disabled":false,"hidden":false}]